.ui-datepicker-div {
  display: block;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: black;
  border: none;
  text-align: center;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: rgba(0, 0, 0, 0.5);
  color: #FFE600;
  border-radius: 100%;
  height: 100%;
  line-height: 30px;
  box-sizing: border-box;
}

.ui-datepicker td {
  width: 35px;
  height: 35px;
}

.ui-widget-header {
  background-color: white;
  border: none;
}

.ui-widget-content {
  border: none;
}

.ui-state-default.ui-state-hover {
  background: rgba(0, 0, 0, 0.5);
  color: #FFE600;
  border-radius: 100%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #FFE600;
  border-radius: 100%;
  text-align: center;
  height: 100%;
  line-height: 30px;
  box-sizing: border-box;
}

.ui-widget-header .ui-icon {
  background-image: url("../img/calen-arrow.svg");
  width: 15px;
  height: 30px;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  background-size: 100%;
  z-index: 666;
  background-image: url("../img/calen-arrow.svg");
  width: 15px;
  height: 30px;
  position: absolute;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.ui-datepicker-next span {
  background-image: url("../img/calen-arrow.svg");
  width: 15px;
  height: 30px;
  position: absolute;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background: rgba(0, 0, 0, 0.5);
  color: #FFE600;
  border-radius: 100%;
  text-align: center;
  height: 100%;
  line-height: 30px;
  box-sizing: border-box;
}

.ui-datepicker table {
  width: 100%;
  box-sizing: border-box;
}

.ui-datepicker-calendar tr {
  box-sizing: border-box;
}