.modul-block {
  width: 290px;
  height: 330px;
  z-index: 22;
  background: rgba(81, 81, 81, 0.7);
  box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
  position: absolute;
  color: white;
  visibility: hidden;
  top: 51px;
  right: -400px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  user-select: none;
}

.modul-toggle {
  visibility: visible;
  right: 25px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.modul-header-1,
.modul-header-2 {
  font-weight: 600;
  font-size: 12px;
}

.modul-header-1 {
  margin-top: 20px;
}

.modul-list {
  padding: 2.5px 0;
  cursor: pointer;
}
.modul-list:hover {
  opacity: 0.5;
}

.modul-ul {
  list-style: none;
  padding-left: 10px;
  font-size: 12px;
  margin-top: 5px;
}

.createTtn {
  padding-left: 10px;
}

.avtoobzvon {
  padding-left: 10px;
}

.modul-header {
  position: relative;
  display: inline;
}

.modul-wrap {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}