.bg-blur {
  background: rgba(0, 0, 0, 0.5);
  background-image: url("../img/background.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 50px;
  display: none;
}

.on-off {
  display: block;
}

.modul-np {
  width: 1247px;
  height: 586px;
  position: fixed;
  z-index: 66;
  background-color: white;
  left: 50%;
  top: 50%;
  z-index: 999;
  display: none;
  transform: translate(-50%, -50%);
  box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
}

.modul-np-toggle {
  display: block;
}

.wrapper-np {
  margin-top: 25px;
  margin-left: 21px;
  margin-bottom: 16px;
  margin-right: 35px;
}

.np-header {
  justify-content: space-between;
  display: flex;
}

.np-close {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.np-close:before {
  content: "";
  width: 13px;
  height: 2px;
  top: 8px;
  right: 2px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg);
}
.np-close:after {
  content: "";
  top: 8px;
  width: 13px;
  height: 2px;
  right: 2px;
  background-color: #333333;
  position: absolute;
  transform: rotate(-45deg);
}

.np-delete {
  position: relative;
  width: 18px;
  height: 18px;
  top: 2px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.np-delete:before {
  content: "";
  width: 8px;
  height: 1px;
  top: 6px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg);
}
.np-delete:after {
  content: "";
  top: 6px;
  width: 8px;
  height: 1px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(-45deg);
}

.np-img {
  float: right;
  margin-top: 10px;
}

.user-name-cab {
  margin-top: 31px;
  border-collapse: collapse;
}
.user-name-cab td {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
  width: 190px;
}
.user-name-cab td:last-child {
  font-size: 12px;
  font-weight: 300;
}
.user-name-cab tr {
  height: 26px;
}

.np-body {
  display: flex;
  margin-top: 10px;
  height: 445px;
}

.np-ttn-default {
  margin-top: 15px;
  border-collapse: collapse;
}
.np-ttn-default td {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
  width: 190px;
}
.np-ttn-default td:last-child {
  font-size: 12px;
  font-weight: 300;
}
.np-ttn-default tr {
  height: 26px;
}
.np-ttn-default tr:last-child td {
  padding-top: 24px;
}

.np-change-order {
  margin-left: 50px;
}

.np-auto-order {
  border-collapse: collapse;
}
.np-auto-order td {
  font-size: 12px;
  font-weight: 300;
  padding: 0;
  width: 255px;
  background-color: #F1F1F1;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  white-space: nowrap;
}
.np-auto-order td:nth-child(2) {
  min-width: 464px;
}
.np-auto-order td:last-child {
  background-color: transparent;
  width: max-content;
  padding: 10px 0;
}
.np-auto-order tr {
  height: 40px;
}
.np-auto-order tr:first-child {
  height: 26px;
}
.np-auto-order th {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

.np-auto-status {
  border-collapse: collapse;
  display: none;
}
.np-auto-status td {
  font-size: 12px;
  font-weight: 300;
  padding: 0;
  width: 200px;
  background-color: #F1F1F1;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  white-space: nowrap;
}
.np-auto-status td:nth-child(3) {
  width: 315px;
}
.np-auto-status td:last-child {
  background-color: transparent;
  width: max-content;
  padding: 10px 0;
}
.np-auto-status tr {
  height: 40px;
}
.np-auto-status tr:first-child {
  height: 26px;
}
.np-auto-status th {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

.np-scroll {
  overflow-x: hidden;
  height: 325px;
  margin-top: 40px;
  width: 765px;
}
.np-scroll .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  border-radius: 5px;
}
.np-scroll .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.np-scroll .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.np-scroll .simplebar-content-wrapper {
  padding: 0;
}

.np-default-header div {
  width: max-content;
  position: relative;
}
.np-default-header div:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -9px;
  background-color: black;
  left: 0;
  border-radius: 2px;
}

.np-auto-header {
  display: flex;
  justify-content: space-between;
  width: 725px;
}
.np-auto-header div {
  width: max-content;
  position: relative;
  cursor: pointer;
}
.np-auto-header div .switch-btn {
  position: relative;
  top: 0px;
  margin-left: 20px;
}
.np-auto-header .btn-np-select:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -9px;
  background-color: black;
  left: 0;
  border-radius: 2px;
}
.np-auto-header .btn-auto-status:hover .button-status,
.np-auto-header .btn-auto-order:hover .button-order {
  opacity: 0.5;
  transition: 0.3s;
}

.header-style {
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

/* The slider */
.switches .switch-btn {
  position: relative;
  top: 2px;
  left: 5px;
}
.switches .switch {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 10px;
  left: 0;
  margin: 0;
}
.switches .switch input {
  display: none;
}
.switches .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switches .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 0;
  top: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}
.switches input:checked + .slider:before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}
.switches input:focus + .slider:before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}
.switches input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}
.switches .slider.round {
  border-radius: 5px;
}
.switches .slider.round:before {
  border-radius: 50%;
}

.dropMenu {
  position: relative;
  box-sizing: border-box;
}
.dropMenu .menu-select-filter:before {
  content: "";
  width: 4px;
  height: 4px;
  top: 8px;
  left: 4px;
  border-radius: 100%;
  position: absolute;
  background-color: #787885;
}
.dropMenu .s-1,
.dropMenu .s-2,
.dropMenu .s-3,
.dropMenu .s-4,
.dropMenu .s-5,
.dropMenu .s-6,
.dropMenu .s-7,
.dropMenu .s-8,
.dropMenu .s-9,
.dropMenu .s-10 {
  position: relative;
}
.dropMenu .color-form {
  bottom: -2px;
  margin-right: 0;
}
.dropMenu .btn-menu {
  width: max-content;
  position: relative;
  cursor: pointer;
  padding: 7px 5px;
}
.dropMenu .btn-menu:before {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  right: -15px;
  top: 10px;
}
.dropMenu .btn-menu.status-crm-btn {
  width: 180px;
  padding: 10px;
}
.dropMenu .btn-menu.status-crm-btn:before {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  right: 18px;
  top: 13px;
}
.dropMenu .day-last {
  padding: 10px;
}
.dropMenu .day-last:before {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  right: 18px;
  top: 13px;
}
.dropMenu .day-last.btn-menu {
  width: inherit;
}
.dropMenu .block-menu {
  position: absolute;
  top: 0;
  list-style: none;
  padding-left: 0;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 22;
  overflow-x: hidden;
}
.dropMenu .block-menu .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.dropMenu .block-menu .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.dropMenu .block-menu .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.dropMenu .block-menu .simplebar-content-wrapper {
  padding: 0;
}
.dropMenu .block-menu-toggle {
  visibility: visible;
  opacity: 1;
  top: 24px;
  transition: 0.3s;
}
.dropMenu .menu-list {
  position: relative;
  padding: 5px 0;
  cursor: pointer;
  padding-left: 13px;
}
.dropMenu .menu-list:hover {
  color: rgba(0, 0, 0, 0.5);
}
.dropMenu .ostalosDney-np,
.dropMenu .statusV-np {
  top: 0;
  width: 100%;
}
.dropMenu .ostalosDney-np.block-menu-toggle,
.dropMenu .statusV-np.block-menu-toggle,
.dropMenu .status-np.block-menu-toggle,
.dropMenu .status-crm.block-menu-toggle {
  top: 34px;
}

.dropFilter {
  position: relative;
  box-sizing: border-box;
}
.dropFilter .menu-select-filter:before {
  content: "";
  width: 4px;
  height: 4px;
  top: 8px;
  left: 4px;
  border-radius: 100%;
  position: absolute;
  background-color: #787885;
}
.dropFilter .s-1,
.dropFilter .s-2,
.dropFilter .s-3,
.dropFilter .s-4,
.dropFilter .s-5,
.dropFilter .s-6,
.dropFilter .s-7,
.dropFilter .s-8,
.dropFilter .s-9,
.dropFilter .s-10 {
  position: relative;
}
.dropFilter .color-form {
  bottom: -2px;
  margin-right: 0;
}
.dropFilter .btn-menu-filter {
  position: relative;
  cursor: pointer;
  height: 13px;
  padding: 10px;
  max-width: 425px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropFilter .btn-menu-filter span {
  margin-right: 5px;
}
.dropFilter .btn-menu-filter .btn-link {
  margin-right: 0;
}
.dropFilter .btn-menu-filter .color-form {
  bottom: -2px;
  margin-right: 0;
}
.dropFilter .btn-menu-filter:before {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  right: 0;
  top: 13px;
}
.dropFilter .btn-menu-filter.primenyat-k-btn {
  width: 280px;
}
.dropFilter .block-menu-filter {
  position: absolute;
  top: 0;
  list-style: none;
  padding-left: 0;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 22;
  overflow-x: hidden;
}
.dropFilter .block-menu-filter .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.dropFilter .block-menu-filter .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.dropFilter .block-menu-filter .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.dropFilter .block-menu-filter .simplebar-content-wrapper {
  padding: 0;
}
.dropFilter .block-menu-toggle {
  visibility: visible;
  opacity: 1;
  top: 20px;
  transition: 0.3s;
}
.dropFilter .menu-list-filter {
  position: relative;
  padding: 5px 0;
  cursor: pointer;
  padding-left: 13px;
}
.dropFilter .menu-list-filter:hover .btn-link {
  color: rgba(0, 0, 0, 0.5);
}
.dropFilter .ostalosDney-np,
.dropFilter .statusV-np {
  top: 0;
  width: 100%;
}
.dropFilter .ostalosDney-np.block-menu-toggle,
.dropFilter .statusV-np.block-menu-toggle,
.dropFilter .primenyat-k.block-menu-toggle {
  top: 34px;
}

.add-new-np {
  background-image: url("../img/btnplus-black.svg");
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-position: center;
  float: right;
  right: 12px;
  position: relative;
}

.np-footer {
  justify-content: space-between;
  display: flex;
  bottom: 20px;
}
.np-footer button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
}
.np-footer .instruction-modul {
  position: relative;
}
.np-footer .instruction-modul:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  background-color: black;
  left: 0;
  border-radius: 2px;
}
.np-footer .save-btn {
  position: relative;
}
.np-footer .save-btn:before {
  content: "";
  height: 2px;
  width: 14px;
  position: absolute;
  background-color: black;
  left: -25px;
  top: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  border-radius: 5px;
}
.np-footer .save-btn:after {
  content: "";
  height: 2px;
  width: 7px;
  position: absolute;
  background-color: black;
  left: -28px;
  top: 7px;
  border-radius: 5px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
}