.bg-blur {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.bg-blur .bg-horizontal {
  backdrop-filter: blur(4px);
  width: 100%;
  height: 20%;
}
.bg-blur .bg-horizontal-2 {
  backdrop-filter: blur(4px);
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
}
.bg-blur .bg-vert {
  backdrop-filter: blur(4px);
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.bg-blur .bg-vert-2 {
  backdrop-filter: blur(4px);
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.order {
  overflow: hidden;
  width: 1247px;
  height: 586px;
  position: absolute;
  background-color: white;
  left: calc(50% + 15px);
  top: calc(50% - 10px);
  z-index: 999;
  display: none;
  transform: translate(-50%, -50%);
  box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
}
.order .order-header {
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 30px;
  position: relative;
}
.order .order-header .order-info-link {
  cursor: pointer;
}
.order .order-header .arrow {
  background-image: url("../img/arrow-right.svg");
  width: 5px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: 160px;
  cursor: pointer;
}
.order .order-header .order-info {
  margin-left: 40px;
  display: none;
}
.order .order-header .switch-btn {
  right: 60px;
  position: absolute;
}

.orderModeOn {
  display: block;
}

.btn-block {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 50%;
}
.btn-block .btn-sms {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}
.btn-block .btn-sms:hover {
  background-color: #F1F1F1;
}
.btn-block .btn-call {
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
}
.btn-block .btn-call:hover {
  background-color: #F1F1F1;
}
.btn-block .btn-remind {
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
}
.btn-block .btn-remind:hover {
  background-color: #F1F1F1;
}

.container {
  display: flex;
  overflow-y: auto;
}
.container table {
  border-collapse: collapse;
}

.wrap-contact-utm {
  margin-left: 20px;
  width: 300px;
  height: 516px;
}

.contact-table {
  width: 100%;
  margin-top: 5px;
}
.contact-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.contact-table tr {
  display: flex;
}
.contact-table .contact-list {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  user-select: none;
  width: 80px;
  height: 18px;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
}
.contact-table .contact-list div {
  cursor: help;
  height: 14px;
}
.contact-table .another-style {
  opacity: 0.4;
}
.contact-table .contact-description {
  font-weight: 300;
  font-size: 12px;
  width: 204px;
  height: 18px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.contact-table .contact-description .icons {
  font-size: 12px;
}
.contact-table .contact-description .order-dropdown .btn-order .icons {
  top: -2px;
}
.contact-table .contact-description .order-dropdown .btn-order .flags {
  top: -2px;
  position: relative;
}
.contact-table .contact-description .tel-sms {
  display: flex;
  height: 12px;
}
.contact-table .contact-description .tel-sms div:first-child {
  position: relative;
  top: 2px;
  margin-right: 8px;
}
.contact-table .contact-description .tel-sms div:first-child .count {
  right: -6px;
  top: -5px;
}
.contact-table .contact-description .tel-sms div:nth-child(2) {
  position: relative;
  top: 1px;
  margin-right: 8px;
}
.contact-table .contact-description .tel-sms div:nth-child(2) .count {
  right: -7px;
  top: -4px;
}
.contact-table .contact-description .icon-operator {
  height: 12px;
}
.contact-table .contact-description .tel-notification-btn {
  position: absolute;
  display: flex;
  height: 12px;
  left: 20px;
}
.contact-table .contact-description .tel-notification-btn div {
  margin-right: 6px;
}
.contact-table .contact-description .generate-email {
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 12px;
  width: 12px;
}
.contact-table .contact-description .underline-animation {
  display: inline-block;
  position: relative;
  height: 12px;
  top: -1px;
  margin-left: 3px;
  margin-right: 3px;
}
.contact-table .contact-description .underline-animation .underline {
  transition: 0.2s;
  width: 0%;
  background-color: #9C9B9E;
  height: 1px;
  bottom: -1px;
  position: absolute;
}
.contact-table .contact-description .underline-animation input {
  position: relative;
  height: 12px;
  opacity: 1;
  width: 81px;
  text-overflow: ellipsis;
  background-color: transparent;
}
.contact-table .contact-description .underline-animation input::selection {
  background-color: #C7C7CA;
}
.contact-table .contact-description .underline-animation .input-user {
  width: 200px;
}
.contact-table .contact-description .underline-animation .input-user-email {
  width: 188px;
}
.contact-table .country-style .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.contact-table .pay-method .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.contact-table .otdel .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.contact-table .user-decline .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.contact-table .country-style {
  font-size: 12px;
  position: relative;
}
.contact-table .contact-header {
  padding-bottom: 16px;
  padding-top: 0;
}
.contact-table .otdel {
  font-size: 12px;
  position: relative;
}
.contact-table .status {
  font-size: 12px;
  position: relative;
}
.contact-table .pay-method {
  position: relative;
  font-size: 12px;
}

.order-dropdown .btn-order-input {
  position: absolute;
  bottom: -22px;
  width: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  height: 22px;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #D9D9D9;
}
.order-dropdown .btn-order-input .btn-order-count {
  display: inline-block;
  right: 2px;
  padding-top: 5px;
  cursor: default;
  padding-left: 3px;
  padding-right: 3px;
  color: rgba(0, 0, 0, 0.5);
}
.order-dropdown .btn-order-input input {
  width: 100%;
  height: 18px;
  outline: none;
  position: relative;
  top: 1px;
  opacity: 0.5;
  font-weight: 300;
  border: none;
}
.order-dropdown .btn-order {
  text-align: left;
  display: block;
  height: 12px;
  cursor: pointer;
  position: relative;
  width: max-content;
  display: flex;
  padding-right: 16px;
}
.order-dropdown .btn-order .color-block {
  width: calc(100% - 16px);
  position: absolute;
  bottom: -2px;
  height: 2px;
  border-radius: 2px;
}
.order-dropdown .btn-order .icons {
  top: -1px;
  position: relative;
}
.order-dropdown .btn-order .icons:before {
  text-align: center;
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 16px;
}
.order-dropdown .btn-order .text-otdel,
.order-dropdown .btn-order .text-pay,
.order-dropdown .btn-order .text-status,
.order-dropdown .btn-order .text-prichina {
  max-width: 167px;
}
.order-dropdown .btn-order .text-pay {
  max-width: 141px;
  margin-left: 0;
}
.order-dropdown .btn-order .flags {
  display: inline;
  font-size: 16px;
  text-align: center;
  color: black;
}
.order-dropdown .btn-order:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 10px;
  height: 5px;
  background-size: 100%;
  top: 3px;
  right: 0;
  opacity: 0.8;
}
.order-dropdown .text-otdel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-dropdown .text-pay {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-dropdown .text-country {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-dropdown .text-prichina {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-dropdown .text-delivery {
  margin-left: 5px;
}
.order-dropdown .text-status {
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  max-width: 160px;
}
.order-dropdown .text-status:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  opacity: 0.75;
  bottom: 0px;
}
.order-dropdown .color-515151-before.order-tooltip:before {
  background-color: #515151;
}
.order-dropdown .color-91d100-before.order-tooltip:before {
  background-color: #91d100;
}
.order-dropdown .color-fd7777-before.order-tooltip:before {
  background-color: #fd7777;
}
.order-dropdown .color-e2d317-before.order-tooltip:before {
  background-color: #e2d317;
}
.order-dropdown .color-c6b922-before.order-tooltip:before {
  background-color: #c6b922;
}
.order-dropdown .color-928c42-before.order-tooltip:before {
  background-color: #928c42;
}
.order-dropdown .color-64a727-before.order-tooltip:before {
  background-color: #64a727;
}
.order-dropdown .color-00CC00-before.order-tooltip:before {
  background-color: #00CC00;
}
.order-dropdown .btn-menu {
  background-color: white;
  z-index: 3;
  cursor: pointer;
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  overflow-x: hidden;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  width: 100%;
  top: 0;
}
.order-dropdown .btn-menu .select-btn:before {
  left: 6px;
  top: 10px;
}
.order-dropdown .btn-menu .flags {
  font-size: 16px;
}
.order-dropdown .btn-menu .menu-list-wrapper {
  position: relative;
}
.order-dropdown .btn-menu .color-block {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
}
.order-dropdown .btn-menu .btn-menu-list {
  height: 18px;
  display: flex;
  line-height: 18px;
  cursor: pointer;
  padding: 2px 0;
  padding-left: 15px;
  padding-right: 10px;
  position: relative;
}
.order-dropdown .btn-menu .btn-menu-list .icons {
  position: relative;
  top: 2px;
  font-size: 16px;
}
.order-dropdown .btn-menu .btn-menu-list:hover .menu-list-wrapper {
  color: rgba(0, 0, 0, 0.5);
}
.order-dropdown .btn-menu .btn-menu-list:last-child {
  padding-bottom: 5px;
}
.order-dropdown .btn-menu .btn-menu-list:first-child {
  padding-top: 5px;
}
.order-dropdown .btn-menu .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.order-dropdown .btn-menu .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.order-dropdown .btn-menu .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.order-dropdown .btn-menu .simplebar-content-wrapper {
  padding: 0;
}

.btn-menu.toggle {
  visibility: visible;
  opacity: 1;
  top: 24px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.btn-order-input.toggle {
  visibility: visible;
  opacity: 1;
  bottom: 2px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.another-opacity {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.another-opacity .arrow-opacity {
  background-image: url("../img/arrow-down.svg");
  display: inline-block;
  width: 10px;
  height: 5px;
  opacity: 0.4;
  top: -1px;
  position: relative;
}

.another-opacity-ip {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.another-opacity-ip .arrow-opacity {
  background-image: url("../img/arrow-down.svg");
  display: inline-block;
  width: 10px;
  height: 5px;
  opacity: 0.4;
  top: -1px;
  position: relative;
}

.user-decline {
  position: relative;
}

.input-user {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  font-weight: 300;
  height: 12px;
  position: relative;
  top: 1px;
}
.input-user::placeholder {
  color: black;
  font-weight: 300;
}

.input-user-email {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  font-weight: 300;
  height: 12px;
  position: relative;
  top: 1px;
}
.input-user-email::placeholder {
  color: black;
  font-weight: 300;
}

.input-user-phone {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  height: 12px;
  position: relative;
  top: 1px;
  width: 120px;
  font-weight: 300;
}
.input-user-phone::placeholder {
  color: black;
  font-weight: 300;
}

.input-ttn {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  font-weight: 300;
}

#datepicker {
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
}

.input-user-phone::-webkit-outer-spin-button,
.input-user-phone::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.input-user-phone[type=number] {
  -moz-appearance: textfield;
}

.input-user-phone[type=number]:hover,
.input-user-phone[type=number]:focus {
  -moz-appearance: number-input;
}

.input-ttn::-webkit-outer-spin-button,
.input-ttn::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.input-ttn[type=number] {
  -moz-appearance: textfield;
}

.input-ttn[type=number]:hover,
.input-ttn[type=number]:focus {
  -moz-appearance: number-input;
}

.contact-header {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}
.contact-header:before {
  content: "";
  width: 147px;
  height: 1px;
  position: absolute;
  background-color: black;
  top: 22px;
}

.comment-block {
  position: relative;
  margin-top: 4px;
}
.comment-block .comment {
  font-size: 14px;
  background-color: white;
  width: 130px;
  position: relative;
  text-align: center;
  transition: 0.2s;
  z-index: 2;
  left: 87px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
.comment-block .comment-wrapper {
  width: 295px;
  height: 89px;
  border: 1px solid black;
  box-sizing: border-box;
  outline: none;
  position: relative;
  top: -9px;
  padding-top: 8px;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  display: block;
  margin: auto;
}
.comment-block .comment-wrapper .comment-input-order {
  margin: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  margin-right: 0;
  padding-right: 5px;
  margin-top: 5px;
  scrollbar-color: #797979 #ddd;
  scrollbar-width: thin;
  border: none;
  font-weight: 300;
}
.comment-block .comment-wrapper .comment-input-order::placeholder {
  position: absolute;
  right: 5px;
  bottom: 0px;
  font-size: 12px;
  font-weight: 300;
}
.comment-block .comment-wrapper .comment-input-order::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.comment-block .comment-wrapper .comment-input-order::-webkit-scrollbar {
  width: 5px;
}
.comment-block .comment-wrapper .comment-input-order::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wrap-delivery-info-fields {
  width: 260px;
  height: 516px;
  margin-right: 40px;
  margin-left: 40px;
  position: relative;
}

.count {
  position: absolute;
  border-radius: 100%;
  font-size: 9px;
  user-select: none;
  font-weight: 300;
  background-color: #9C9B9E;
  color: white;
  text-align: center;
  right: 16px;
  padding: 0px 2.5px;
  line-height: 10px;
  top: -3px;
}

.delivery-table {
  margin-top: 5px;
  width: 100%;
}
.delivery-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.delivery-table tr {
  display: flex;
}
.delivery-table .delivery-list {
  font-weight: 400;
  user-select: none;
  font-size: 14px;
  height: 18px;
  position: relative;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;
  width: 43px;
  padding-right: 39px;
}
.delivery-table .delivery-list div {
  cursor: help;
  height: 14px;
}
.delivery-table .delivery-description {
  font-weight: 300;
  font-size: 12px;
  height: 18px;
  max-width: 167px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.delivery-table .delivery-description .status-ttn-info {
  position: absolute;
  left: 21px;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  bottom: 4px;
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 12px;
}
.delivery-table .delivery-description .backttntooltip {
  margin-right: 6px;
  position: relative;
}
.delivery-table .delivery-description .ttn2-block {
  height: 12px;
  width: 95px;
}
.delivery-table .delivery-description .back-ttn-2 {
  display: flex;
  margin-left: 4px;
  position: relative;
  height: 12px;
}
.delivery-table .delivery-description .back-ttn-2 span {
  right: -6px;
}
.delivery-table .delivery-description .back-ttn {
  display: none;
  margin-left: 4px;
  position: relative;
  height: 12px;
}
.delivery-table .delivery-description .back-ttn span {
  right: -6px;
}
.delivery-table .delivery-description .inputPlusBackTtn {
  display: flex;
  visibility: visible;
}
.delivery-table .delivery-description .inputPlusBackTtn-2 {
  display: flex;
  visibility: visible;
}
.delivery-table .delivery-description .underline-animation {
  display: inline-block;
  position: relative;
  height: 12px;
}
.delivery-table .delivery-description .underline-animation .underline {
  transition: 0.2s;
  width: 0%;
  background-color: #9C9B9E;
  height: 1px;
  bottom: 0px;
  position: absolute;
}
.delivery-table .delivery-description .underline-animation input {
  position: relative;
  width: 95px;
  height: 12px;
  opacity: 1;
  text-overflow: ellipsis;
  background-color: transparent;
}
.delivery-table .delivery-description .underline-animation input::selection {
  background-color: #C7C7CA;
}
.delivery-table .delivery-description .underline-animation .input-address {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  width: 150px;
  font-weight: 300;
}
.delivery-table .delivery-description .delivery-chose-btn {
  height: 12px;
  display: flex;
}
.delivery-table .delivery-description .delivery-chose-btn .btn-find-addres {
  top: -1px;
  transition: 0.2s;
  width: 13px;
  display: none;
  left: 0;
  margin-right: 0;
}
.delivery-table .delivery-description .delivery-chose-btn .btn-find-otdel {
  top: -1px;
  transition: 0.2s;
  opacity: 1;
  left: 0;
  margin-right: 7px;
}
.delivery-table .delivery-description .delivery-chose-btn .active-btn-addres {
  display: block;
  margin-right: 7px;
}
.delivery-table .delivery-description .delivery-chose-btn .active-btn-otdelenie {
  display: none;
  margin-right: 0;
}
.delivery-table .delivery-description .samovivoz-block {
  height: 12px;
  display: none;
}
.delivery-table .delivery-description .samovivoz-block input {
  width: 170px;
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  font-weight: 300;
}
.delivery-table .delivery-description .samovivoz-block input::selection {
  background-color: #C7C7CA;
}
.delivery-table .delivery-description .addres-delivery-block {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  height: 116px;
  width: 221px;
  transition: 0.2s;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list {
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list div {
  width: 48px;
  height: 18px;
  cursor: default;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list div:first-child {
  font-weight: 400;
  opacity: 0.65;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list .underline-animation {
  width: 125px;
  margin-left: 5px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list .underline-animation .underline {
  bottom: 4px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list .underline-animation .count-addres {
  position: absolute;
  right: 0;
  visibility: hidden;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list input {
  height: 12px;
  outline: none;
  border: none;
  width: 125px;
  padding: 0;
  border: none;
  text-overflow: ellipsis;
  color: black;
  font-weight: 300;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list .index::selection {
  background-color: transparent;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-list input:focus {
  color: black;
  color: rgba(0, 0, 0, 0.5);
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-wrapper {
  height: 112px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-wrapper .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  bottom: 0;
  border-radius: 5px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-wrapper .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.delivery-table .delivery-description .addres-delivery-block .addres-delivery-wrapper .simplebar-content-wrapper {
  padding: 0;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find {
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 3;
  position: absolute;
  right: -195px;
  top: 0;
  height: 142px;
  width: 200px;
  overflow-x: hidden;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .goroda div,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .ulici div,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .doma div,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .kvartiri div,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .otdelenie div,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .strana div {
  height: 22px;
  cursor: pointer;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  text-overflow: ellipsis;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .goroda div:hover,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .ulici div:hover,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .doma div:hover,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .kvartiri div:hover,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .otdelenie div:hover,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .strana div:hover {
  opacity: 0.5;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .goroda div:first-child,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .ulici div:first-child,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .doma div:first-child,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .kvartiri div:first-child,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .otdelenie div:first-child,
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .strana div:first-child {
  padding-top: 12px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .findUnderline::before {
  bottom: -1px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  bottom: 0;
  border-radius: 5px;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.delivery-table .delivery-description .addres-delivery-block .addres-menu-find .simplebar-content-wrapper {
  padding: 0;
}
.delivery-table .delivery-description .addres-delivery-block .menu-find-active {
  visibility: visible;
  top: 0;
  opacity: 1;
}
.delivery-table .delivery-description .addres-result {
  height: 12px;
  white-space: nowrap;
  cursor: default;
}
.delivery-table .delivery-description .addres-result div {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 155px;
  overflow: hidden;
}
.delivery-table .delivery-description .addres-result div span {
  font-weight: 300;
}
.delivery-table .delivery-description .addres-result div span b {
  font-weight: 300;
}
.delivery-table .delivery-mail .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.delivery-table .contact-header {
  padding-bottom: 16px;
  padding-top: 0;
}
.delivery-table .delivery-mail {
  position: relative;
}

.field-wrapper {
  height: 130px;
  position: absolute;
  bottom: 20px;
}
.field-wrapper .field-table .contact-header {
  padding-top: 0;
  cursor: help;
}
.field-wrapper .field-block {
  margin-top: 16px;
  height: 98px;
  width: 300px;
}
.field-wrapper .field-block table {
  width: 100%;
}
.field-wrapper .field-block .field-number {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  width: 15px;
  user-select: none;
  height: 18px;
  padding-right: 15px;
  padding-left: 7px;
}
.field-wrapper .field-block .field-description {
  font-size: 12px;
  width: 100%;
  height: 26px;
  padding: 0;
}
.field-wrapper .field-block .field-description .underline-animation {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 93%;
}
.field-wrapper .field-block .field-description .underline-animation .underline {
  transition: 0.2s;
  width: 0%;
  background-color: #9C9B9E;
  height: 1px;
  bottom: 5px;
  position: absolute;
}
.field-wrapper .field-block .field-description .underline-animation input {
  position: relative;
  width: 100%;
  height: 26px;
  opacity: 1;
  text-overflow: ellipsis;
  background-color: transparent;
}
.field-wrapper .field-block .field-description .underline-animation input::selection {
  background-color: #C7C7CA;
}
.field-wrapper .field-block .field-description .underline-animation .input-address {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  width: 150px;
  font-weight: 300;
}
.field-wrapper .field-block .field-description .underline-animation .field-input {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 300;
}
.field-wrapper .field-block .simplebar-track.simplebar-vertical {
  transition: 0.2s;
  opacity: 0;
}
.field-wrapper .field-block .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
  bottom: 0;
  border-radius: 5px;
}
.field-wrapper .field-block .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.field-wrapper .field-block .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.field-wrapper .field-block .simplebar-content-wrapper {
  padding: 0;
}
.field-wrapper .field-block:hover .simplebar-track.simplebar-vertical {
  opacity: 1;
}

.utm-wrapper {
  height: 130px;
  position: absolute;
  bottom: 20px;
}
.utm-wrapper .utm-table .contact-header {
  padding-top: 0;
  cursor: help;
}
.utm-wrapper .utm-block {
  height: 98px;
  width: 260px;
  margin-top: 16px;
}
.utm-wrapper .utm-block td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.utm-wrapper .utm-block .contact-header {
  padding-bottom: 16px;
  padding-top: 0;
}
.utm-wrapper .utm-block .utm-list {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  user-select: none;
  padding-right: 15px;
  min-width: 67px;
  height: 18px;
}
.utm-wrapper .utm-block .utm-list span {
  cursor: help;
}
.utm-wrapper .utm-block .utm-description {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  height: 18px;
  max-width: 167px;
  text-transform: capitalize;
}
.utm-wrapper .utm-block .simplebar-track.simplebar-vertical {
  opacity: 0;
  transition: 0.2s;
}
.utm-wrapper .utm-block .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  bottom: 0;
  border-radius: 5px;
}
.utm-wrapper .utm-block .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 5px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.utm-wrapper .utm-block .simplebar-track.simplebar-horizontal {
  display: none;
}
.utm-wrapper .utm-block .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.utm-wrapper .utm-block .simplebar-content-wrapper {
  padding: 0;
}
.utm-wrapper .utm-block:hover .simplebar-track.simplebar-vertical {
  opacity: 1;
}

.info-table {
  position: absolute;
  top: 161px;
  width: 100%;
}
.info-table td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.info-table tr {
  display: flex;
}
.info-table .contact-header {
  padding-bottom: 16px;
  padding-top: 0;
}
.info-table .info-list {
  font-weight: 400;
  font-size: 14px;
  user-select: none;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;
  height: 18px;
  width: 65px;
  padding-right: 15px;
}
.info-table .info-list div {
  cursor: help;
  height: 14px;
}
.info-table .info-description {
  font-weight: 300;
  font-size: 12px;
  padding-top: 5px;
  max-width: 176px;
  height: 17px;
  display: flex;
  align-items: flex-end;
  width: 70%;
  position: relative;
}
.info-table .info-description a {
  height: 12px;
}
.info-table .info-description .site-link::first-letter {
  text-transform: uppercase;
}
.info-table .info-description .site-link {
  display: block;
  max-width: 176px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: alias;
}
.info-table .info-description .info-calendary {
  background-image: url("../img/Kalendar.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 9px;
}
.info-table .info-description .info-description-ip-block-all-network {
  height: 0px;
  overflow: hidden;
  transition: 0.2s;
  padding-top: 0px;
  display: flex;
}
.info-table .info-description .info-description-ip-block-all-network .info-ip {
  cursor: default;
}
.info-table .info-description .info-description-ip-block-all-network .wifi-icon {
  width: 13px;
  height: 13px;
}
.info-table .info-description .info-description-ip-block {
  display: flex;
}
.info-table .info-description .info-description-ip-block .info-ip span:hover {
  color: black;
}
.info-table .info-description .info-ip {
  margin-right: 5px;
  cursor: pointer;
  height: 16px;
  position: relative;
  display: inline-block;
}
.info-table .info-description .info-ip span {
  transition: 0.2s;
  max-width: 78px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 3px;
  text-overflow: ellipsis;
}
.info-table .info-description .ip-icons-position {
  position: relative;
  top: 2px;
  height: 16px;
  cursor: default;
  display: flex;
}
.info-table .info-description .ip-icons-position .flags {
  font-size: 13px;
  position: relative;
}
.info-table .info-description .ip-icons-position span {
  margin: 0 2px;
}
.info-table .info-description .unlock-logo {
  height: 12px;
  width: 12px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 3px;
  left: 2px;
  margin-right: 7px;
}
.info-table .info-description .unlock-logo:hover svg path {
  stroke: #474646;
}
.info-table .info-description .unlock-logo img {
  position: relative;
  width: 12px;
  height: 11px;
}
.info-table .info-description .unlock-logo svg path {
  transition: 0.3s;
}
.info-table .info-description .unlock-logo svg {
  position: relative;
}
.info-table .info-description .info-calendary-block {
  margin-left: 20px;
  position: absolute;
  transition: 0.2s;
  left: 0;
  width: 0px;
  height: 14px;
  top: 10px;
  background-color: white;
  overflow: hidden;
  cursor: default;
}
.info-table .info-description .info-calendary-block .info-calen-data {
  font-size: 12px;
}
.info-table .info-description .info-calendary-block .info-calen-data-2 {
  font-size: 10px;
  margin-left: 3px;
  margin-right: 3px;
  color: #9C9B9E;
}
.info-table .info-description .info-calendary-block .info-calen-data-3 {
  font-size: 10px;
  position: relative;
}
.info-table .info-description .info-calendary-block .info-calen-data-3 b {
  font-weight: 300;
}
.info-table .info-description .info-calendary-block .info-calen-data-3 .color-time {
  position: absolute;
  width: 100%;
  background-color: #fd7777;
  border-radius: 2px;
  height: 2px;
  left: 0;
  bottom: -1px;
}
.info-table .info-description .info-calendary-block .info-calen-data-3 .zelen {
  background-color: #91d100;
}
.info-table .info-description .info-user-block {
  margin-left: 20px;
  position: absolute;
  width: 100%;
  visibility: visible;
  left: 0;
}
.info-table .info-description .info-user-block .btn-menu.toggle {
  top: 17px;
}
.info-table .info-description .info-user-block .btn-order-input.toggle {
  bottom: -5px;
}
.info-table .info-description .info-user-block .btn-menu .btn-menu-list:hover span {
  opacity: 0.5;
}
.info-table .data-style {
  padding-top: 0;
}

.site-link-img {
  width: 12px;
  height: 12px;
}

.calendary-btn {
  cursor: pointer;
  position: relative;
}
.calendary-btn .calendary-logo {
  background-image: url("../img/calendary.svg");
  width: 13px;
  height: 14px;
  position: relative;
  display: inline-block;
  padding-right: 11px;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 2px;
}

.wrap-products-sale {
  width: 562px;
  position: relative;
  height: 516px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 24px;
}
.wrap-products-sale .btnplus {
  right: 17px;
}

.product-table {
  width: 100%;
  cursor: default;
  margin-top: 5px;
}
.product-table .contact-header {
  cursor: help;
}
.product-table .product-description {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  padding-bottom: 7px;
  text-align: left;
  padding-right: 10px;
  position: relative;
}
.product-table .product-description:nth-child(6) {
  text-align: right;
}
.product-table .product-description:nth-child(4) {
  text-align: right;
}
.product-table .product-description:nth-child(5) {
  text-align: center;
}
.product-table .price-for-one input {
  padding: 0;
  outline: none;
  font-weight: 300;
  border: none;
  text-align: right;
  width: 100%;
}
.product-table .currency-block .minus-btn,
.product-table .currency-block .plus-btn {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
  visibility: hidden;
  cursor: pointer;
}
.product-table .currency-block .minus-btn {
  position: absolute;
  left: 0px;
}
.product-table .currency-block .plus-btn {
  position: absolute;
  right: 10px;
}
.product-table .currency-block .minus-btn:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 0px;
  top: 7px;
  left: 4px;
  border: 0.5px solid #636363;
  border-radius: 2px;
}
.product-table .currency-block .plus-btn:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 0px;
  top: 7px;
  left: 3px;
  border: 0.5px solid #636363;
  border-radius: 2px;
}
.product-table .currency-block .plus-btn:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  top: 3px;
  left: 7px;
  border: 0.5px solid #636363;
  border-radius: 2px;
}
.product-table .currency-block .number-product {
  padding: 0;
  outline: none;
  border: none;
  font-weight: 300;
  text-align: center;
  width: 12px;
}
.product-table .currency-block .number-product::selection {
  background-color: #afafb3;
}
.product-table .currency-block .minus-btn:hover:after,
.product-table .currency-block .plus-btn:hover:before,
.product-table .currency-block .plus-btn:hover:after {
  border: 0.5px solid #929292;
}
.product-table .product-description:last-child {
  padding-right: 0;
}
.product-table .product-id {
  font-size: 14px;
  padding-right: 10px;
  font-weight: 400;
  opacity: 0.65;
  padding-bottom: 13px;
  padding-top: 24px;
  text-align: center;
  white-space: nowrap;
}
.product-table .product-id:last-child {
  padding-right: 0;
}
.product-table .price-product {
  width: 0;
  white-space: nowrap;
  text-align: right;
}
.product-table .addit-product td {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  padding-right: 10px;
  padding-bottom: 7px;
}
.product-table .addit-product td:nth-child(6) {
  text-align: right;
}
.product-table .addit-product td:nth-child(4) {
  text-align: right;
}
.product-table .addit-product td:nth-child(5) {
  text-align: center;
}
.product-table .addit-product td:last-child {
  padding-right: 0;
}
.product-table .id-product {
  width: 1px;
  position: relative;
}
.product-table .id-product span {
  white-space: nowrap;
  max-width: 50px;
  position: relative;
  top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: inline-block;
}
.product-table .id-product2 {
  width: 1px;
  position: relative;
}
.product-table .id-product2 span {
  white-space: nowrap;
  max-width: 110px;
  position: relative;
  top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: inline-block;
}
.product-table .long-str {
  position: relative;
}
.product-table .long-str:before {
  content: "&nbsp;";
  visibility: hidden;
}
.product-table .long-str span {
  position: absolute;
  left: 0;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-table .long-str2 {
  position: relative;
}
.product-table .long-str2:before {
  content: "&nbsp;";
  visibility: hidden;
}
.product-table .long-str2 span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-table .price-del {
  width: 20px;
}

.sale-table {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}
.sale-table .sale-id {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.65;
  padding-bottom: 16px;
  padding-top: 22px;
  text-align: center;
}
.sale-table .sale-description {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  padding-bottom: 7px;
  text-align: left;
  position: relative;
  padding-bottom: 4px;
}
.sale-table .sale-description:nth-child(7) {
  text-align: right;
}
.sale-table .sale-description:nth-child(5) {
  text-align: right;
}
.sale-table .id-pos {
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 8px;
  left: 7px;
  margin-right: 5px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}

input:focus + .slider:before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: -1.33333px 0px 1.33333px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 50%;
}

.sum {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  padding-top: 13px;
}
.sum .sum-number {
  margin-left: 11px;
}
.sum .sum-all {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 32px;
}

.btn-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 24px;
  right: 16px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}
.btn-close:hover {
  opacity: 0.5;
}
.btn-close:before {
  content: "";
  width: 15px;
  height: 2px;
  top: 6px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg);
}
.btn-close:after {
  content: "";
  top: 6px;
  width: 15px;
  height: 2px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(-45deg);
}

.product-delete {
  position: relative;
  width: 18px;
  height: 18px;
  top: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.product-delete:before {
  content: "";
  width: 8px;
  height: 1px;
  top: 6px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(45deg);
}
.product-delete:after {
  content: "";
  top: 6px;
  width: 8px;
  height: 1px;
  right: 4px;
  background-color: #333333;
  position: absolute;
  transform: rotate(-45deg);
}

.btnplus {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  position: absolute;
  background-color: transparent;
  padding: 5px;
  top: 2px;
  z-index: 1;
  right: -5px;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
}
.btnplus:hover {
  opacity: 0.5;
}
.btnplus img {
  width: 14px;
  height: 14px;
}

.btnbackttn {
  padding: 0;
  position: relative;
  width: 16px;
  height: 12px;
  top: 0px;
  right: 0px;
}
.btnbackttn:hover {
  opacity: 1;
}
.btnbackttn svg path {
  transition: 0.2s;
}
.btnbackttn:hover svg path {
  fill: #474646;
}

.btnprro {
  padding: 0;
  position: relative;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
}

.btn-find-addres {
  padding: 0;
  position: relative;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
}
.btn-find-addres:hover {
  opacity: 1;
}
.btn-find-addres:hover svg path {
  fill: #474646;
}

.add-ttn {
  padding: 0;
  position: relative;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
  margin-right: 8px;
}
.add-ttn svg {
  position: relative;
  top: -1px;
}
.add-ttn svg path {
  transition: 0.2s;
}
.add-ttn:hover {
  opacity: 1;
}
.add-ttn:hover svg path {
  fill: #474646;
}

.btninfo {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  position: absolute;
  background-color: transparent;
  padding: 5px;
  top: -3px;
  z-index: 1;
  right: -55px;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
}
.btninfo img {
  width: 12px;
  height: 12px;
}
.btninfo svg {
  position: relative;
  top: -1px;
}
.btninfo svg path {
  transition: 0.2s;
}
.btninfo:hover svg path {
  fill: #b66565;
}

.podlozhka-order {
  width: 1247px;
  height: 586px;
  top: 0;
  left: 0;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  display: none;
}

.gpsmetka {
  padding: 0;
  position: relative;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
  margin-right: 8px;
}
.gpsmetka img {
  width: 12px;
  height: 12px;
}
.gpsmetka svg {
  position: relative;
  top: -1px;
}
.gpsmetka svg path {
  transition: 0.2s;
}
.gpsmetka:hover svg path {
  fill: #474646;
}

.btn-find-otdel {
  padding: 0;
  position: relative;
  width: 13px;
  height: 12px;
  top: 0px;
  right: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
  margin-right: 8px;
}
.btn-find-otdel img {
  width: 12px;
  height: 12px;
}
.btn-find-otdel svg path {
  transition: 0.2s;
}
.btn-find-otdel:hover svg path {
  fill: #474646;
}

.sum-many {
  font-weight: 300;
  font-size: 14px;
  position: relative;
  text-align: right;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  float: right;
}
.sum-many span {
  padding: 2px 0;
  position: relative;
}
.sum-many span span {
  margin-left: 7px;
}
.sum-many span:nth-child(2) {
  position: relative;
}
.sum-many span:nth-child(2):before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: black;
  top: 20px;
  left: 0px;
}

.btn-save-close {
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 7px;
  padding: 10px;
  padding-right: 24px;
  transition: 0.2s;
}
.btn-save-close:hover {
  opacity: 0.5;
}
.btn-save-close button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  padding: 0;
  cursor: pointer;
  font-weight: 300;
}
.btn-save-close .save-btn {
  position: relative;
}
.btn-save-close .save-btn:before {
  content: "";
  height: 2px;
  width: 14px;
  position: absolute;
  background-color: black;
  left: -25px;
  top: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  border-radius: 5px;
}
.btn-save-close .save-btn:after {
  content: "";
  height: 2px;
  width: 7px;
  position: absolute;
  background-color: black;
  left: -28px;
  top: 7px;
  border-radius: 5px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
}

.bg-modal {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  backdrop-filter: blur(4px);
}

.add-order {
  width: 704px;
  height: 544px;
  background-color: white;
  box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  position: relative;
  margin: 0 auto;
  visibility: hidden;
  z-index: -1;
  display: none;
  top: -560px;
}
.add-order .add-order-header {
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
}
.add-order .add-order-header .btn-close-order {
  background-image: url("../img/plus-big.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}
.add-order .order-table {
  margin-left: 20px;
  margin-top: 35px;
}
.add-order .order-table .order-list {
  font-size: 14px;
  font-weight: 500;
  padding-right: 28px;
  padding-bottom: 10px;
}
.add-order .order-table .order-description {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  top: 1px;
  padding-bottom: 10px;
}
.add-order .order-table .order-description .btn .btn-span:after {
  width: 7.5px;
  height: 3.5px;
  background-size: 100%;
}
.add-order .sub-id {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
}
.add-order .sub-id:before {
  width: 231px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: black;
  right: 25px;
  top: 7px;
}
.add-order .sub-id:after {
  width: 231px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: black;
  left: 25px;
  top: 7px;
}
.add-order .full-info {
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  position: relative;
}
.add-order .full-info:before {
  width: 231px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: black;
  right: 25px;
  top: 7px;
}
.add-order .full-info:after {
  width: 231px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: black;
  left: 25px;
  top: 7px;
}
.add-order .sub-table {
  margin: 0 auto;
  text-align: center;
}
.add-order .sub-table .sub-header {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.65;
  padding: 10px;
}
.add-order .sub-table .sub-header .eye-img {
  position: relative;
  top: 2px;
  cursor: pointer;
}
.add-order .sub-table .sub-list {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  padding-top: 6px;
  position: relative;
}
.add-order .sub-table .sub-list .eye-img {
  cursor: pointer;
}
.add-order .sub-table .sub-list #num {
  top: 2px;
  position: relative;
}
.add-order .sub-table .sub-list #num2 {
  top: 2px;
  position: relative;
}
.add-order .sub-table .sub-list .minus {
  border: none;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  top: -3px;
  left: -5px;
  padding: 2px;
  background-color: white;
}
.add-order .sub-table .sub-list .minus:before {
  content: "";
  width: 8px;
  height: 1px;
  position: absolute;
  background-color: black;
  left: 3px;
}
.add-order .sub-table .sub-list .plus {
  border: none;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  top: -3px;
  left: 4px;
  background-color: white;
}
.add-order .sub-table .sub-list .plus:before {
  content: "";
  width: 8px;
  height: 1px;
  position: absolute;
  right: 3px;
  background-color: black;
}
.add-order .sub-table .sub-list .plus:after {
  content: "";
  width: 8px;
  height: 1px;
  position: absolute;
  background-color: black;
  transform: rotate(90deg);
  right: 3px;
}
.add-order .sub-table .eye-open {
  opacity: 1;
  width: 100px;
}
.add-order .sub-table .eye-close {
  opacity: 1;
  width: 100px;
}
.add-order .full-info-table {
  margin-top: 15px;
  margin-left: 20px;
}
.add-order .full-info-table .info-table-list {
  font-size: 12px;
  opacity: 0.5;
  font-weight: 500;
  padding-right: 65px;
  padding-bottom: 14px;
}
.add-order .full-info-table .info-tb-desc {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 14px;
  text-align: right;
  position: relative;
}
.add-order .full-info-table .info-tb-desc:after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  left: -20px;
  top: 14px;
}

.order-open {
  visibility: visible;
  z-index: 99;
}

.btn-save-add-product {
  position: relative;
  margin-right: 44px;
  text-align: right;
  top: 40px;
}
.btn-save-add-product .add-product {
  margin-right: 65px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.btn-save-add-product .add-product:before {
  background-image: url("../img/btnplus-black.svg");
  width: 15px;
  background-size: 100%;
  height: 15px;
  position: absolute;
  bottom: 1px;
  left: -25px;
  content: "";
}
.btn-save-add-product .save-close {
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.btn-save-add-product .save-close:before {
  content: "";
  background-image: url("../img/accept.svg");
  width: 12px;
  height: 9px;
  position: absolute;
  left: -20px;
  bottom: 3px;
}