@charset "UTF-8";
.container-info-settings {
  margin-left: 62px;
  margin-top: 20px;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 800px) {
  .container-info-settings {
    margin-left: 30px;
  }
}
.container-info-settings .simplebar-track.simplebar-vertical {
  background-color: transparent;
  width: 6px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
.container-info-settings .simplebar-track.simplebar-horizontal {
  background-color: transparent;
  height: 6px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.container-info-settings .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 6px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}
.container-info-settings .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  top: -2px;
  cursor: pointer;
}
.container-info-settings .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.container-info-settings .simplebar-content-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

.crm-header {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.crm-header::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

.crm-header {
  display: flex;
  margin: 0;
  position: fixed;
  padding-bottom: 5px;
  top: 60px;
  z-index: 333;
  background-color: white;
  overflow-x: scroll;
  width: 100%;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-right: 20px;
}
.crm-header:before {
  content: "";
  background-color: white;
  width: 15px;
  height: 40px;
  top: 0px;
  left: -15px;
  position: absolute;
}
.crm-header .crm-header-link:last-child {
  margin-right: 180px;
}
.crm-header .crm-header-link {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
}
.crm-header .crm-header-link .count-link {
  font-size: 10px;
  opacity: 0.5;
}
.crm-header .crm-header-link .color-C4C4C4 {
  background-color: #C4C4C4;
}
.crm-header .crm-header-link .color-83004F {
  background-color: #83004F;
}
.crm-header .crm-header-link .color-C94F62 {
  background-color: #C94F62;
}
.crm-header .crm-header-link .color-9C02A7 {
  background-color: #9C02A7;
}
.crm-header .crm-header-link .color-1DD787 {
  background-color: #1DD787;
}
.crm-header .crm-header-link .color-00CC00 {
  background-color: #00CC00;
}
.crm-header .crm-header-link .color-00B9FF {
  background-color: #00B9FF;
}
.crm-header .crm-header-link .color-FF0000 {
  background-color: #FF0000;
}
.crm-header .crm-header-link .color-FFCF00 {
  background-color: #FFCF00;
}
.crm-header .crm-header-link .color-91D100 {
  background-color: #91D100;
}
.crm-header .crm-header-link .color-F50296 {
  background-color: #F50296;
}
.crm-header .crm-header-link .color-6996D3 {
  background-color: #6996D3;
}
.crm-header .crm-header-link .color-3415B0 {
  background-color: #3415B0;
}
.crm-header .crm-header-link .color-B0FF00 {
  background-color: #B0FF00;
}
.crm-header .crm-header-link .color-470010 {
  background-color: #470010;
}
.crm-header .crm-header-link .color-9C02A7 {
  background-color: #9C02A7;
}

.color-form {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  border-radius: 2px;
  left: 0;
}

.btn-toggle {
  font-weight: 600;
  position: relative;
}
.btn-toggle .color-form {
  height: 4px;
  bottom: -3px;
}

@media screen and (max-height: 800px) {
  .container-info-settings .simplebar-track.simplebar-horizontal {
    background-color: transparent;
    height: 6px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
}
.arrow-bg {
  background-color: white;
  height: 25px;
  width: 40px;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 2222;
}
.arrow-bg .arrow-next {
  width: 13px;
  height: 13px;
  background-image: url("../img/arrow-down.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(-90deg);
  opacity: 0.7;
  left: 20px;
}
.arrow-bg .arrow-prev {
  width: 13px;
  height: 13px;
  background-image: url("../img/arrow-down.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(90deg);
  opacity: 0.7;
}

#hoverSelect {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 12px;
  background: #515151;
  color: white;
  border-radius: 3px;
  z-index: 999;
  display: none;
}

.crm-table {
  margin-top: 25px;
}

.container-info-settings tr td {
  white-space: nowrap;
  height: 18px;
  line-height: 14px;
}
.container-info-settings tr td .input-style {
  background: rgba(156, 155, 158, 0.4);
  outline: none;
  border: 1px white solid;
  width: 100%;
  box-sizing: border-box;
  padding: 1px 3px;
  font-size: 10px;
  line-height: 14px;
}
.container-info-settings tr td .input-style::placeholder {
  font-size: 10px;
}
.container-info-settings tr td .count-message {
  background: rgba(156, 155, 158, 0.4);
  box-sizing: border-box;
  position: relative;
  left: -2px;
  width: 17%;
}
.container-info-settings tr td .tel-style {
  width: 83%;
}
.container-info-settings tr td .date-block {
  background: rgba(156, 155, 158, 0.4);
  padding: 0 3px;
  border: 1px white solid;
  min-width: 130px;
}
.container-info-settings tr td .date-block .date-style {
  width: 45%;
  text-align: center;
  border: none;
  background-color: transparent;
}

.date-block {
  text-align: center;
}

tr th {
  white-space: nowrap;
  padding: 2.5px 4px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px 3px 0 0;
  padding-top: 7px;
}
tr th:nth-child(odd) {
  background-color: #F1F1F1;
}

table {
  border-collapse: collapse;
}
table tr td {
  width: max-content;
  padding: 0px 4px;
  font-size: 12px;
}

.header-search {
  padding: 0;
  font-size: 10px;
  height: 18px;
  box-sizing: border-box;
}

.table-header {
  height: 24px;
  position: sticky;
  cursor: grab;
}

.crm-input {
  height: 18px;
  position: sticky;
}

.crm-main-table {
  height: 18px;
}
.crm-main-table .country-colum {
  text-align: left;
  box-sizing: border-box;
  height: 18px;
  position: relative;
  top: -2px;
}
.crm-main-table .country-colum .flag {
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.crm-main-table .tel-colum {
  text-align: center;
}
.crm-main-table .tel-colum .mob-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.crm-main-table .svg-wrap {
  margin-left: 5px;
  position: relative;
  margin-right: 5px;
  top: 3px;
}
.crm-main-table .svg-wrap .count {
  position: absolute;
  border-radius: 100%;
  font-size: 7px;
  width: 8px;
  height: 8px;
  font-weight: 600;
  background-color: #9C9B9E;
  color: white;
  text-align: center;
  right: -3px;
  line-height: 9px;
  top: -5px;
  border: 1.28571px solid #F1F1F1;
}
.crm-main-table .product-colum {
  text-align: center;
  position: relative;
  top: -1px;
}
.crm-main-table .product-colum .svg-wrap {
  margin-left: 3px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.crm-main-table .product-colum .svg-wrap .count {
  right: 0px;
  border: 1.28571px solid #F1F1F1;
}
.crm-main-table .colum-pay {
  text-align: center;
}
.crm-main-table .colum-pay .coin {
  bottom: 1px;
  position: relative;
}

.color-bg {
  background-color: #F1F1F1;
}

.crm-main-table.select-toggle:hover {
  position: relative;
  color: white;
}
.crm-main-table.select-toggle:hover td {
  background-color: rgba(81, 81, 81, 0.7);
}

.crm-main-table.selected-lock:hover {
  position: relative;
}
.crm-main-table.selected-lock:hover td {
  background: rgba(198, 193, 190, 0.5);
  color: rgba(0, 0, 0, 0.2);
}
.crm-main-table.selected-lock:hover .id-table:before {
  content: "";
  background: none;
  background-image: url("../img/lock.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -15px;
}

.select-toggle {
  position: relative;
}
.select-toggle td {
  color: white;
  background-color: rgba(81, 81, 81, 0.7);
}
.select-toggle .svg-convert path {
  stroke: #F1F1F1;
}
.select-toggle .svg-wrap .count {
  background: #F1F1F1;
  color: #515151;
  border: 1.28571px solid rgba(81, 81, 81, 0.7);
}
.select-toggle .product-colum .svg-wrap path {
  fill: #F1F1F1;
}
.select-toggle .product-colum .svg-wrap .count {
  background: #F1F1F1;
  border: 1.28571px solid rgba(81, 81, 81, 0.7);
}
.select-toggle .card path {
  fill: #F1F1F1;
}
.select-toggle .coin path {
  fill: #F1F1F1;
}
.select-toggle .coin circle {
  stroke: #F1F1F1;
}
.select-toggle .convert-pay path {
  fill: #F1F1F1;
}
.select-toggle .id-table:before {
  content: "";
  width: 7px;
  height: 18px;
  position: absolute;
  background: #515151;
  left: -7px;
  border-radius: 3px 0 0 3px;
  top: 0;
}

.selected-lock {
  position: relative;
}
.selected-lock td {
  background: rgba(198, 193, 190, 0.5);
  color: rgba(0, 0, 0, 0.2);
}
.selected-lock .svg-wrap .count {
  border: 1.28571px solid #d8d8d8;
}
.selected-lock .id-table:before {
  content: "";
  background-image: url("../img/lock.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -15px;
}

.crm-main-table:hover {
  position: relative;
}
.crm-main-table:hover td {
  background: rgba(81, 81, 81, 0.3);
}
.crm-main-table:hover .id-table:before {
  content: "";
  width: 7px;
  height: 18px;
  position: absolute;
  background: #515151;
  left: -7px;
  border-radius: 3px 0 0 3px;
  top: 0;
}

.crm-main-table .status-table {
  text-align: center;
}
.crm-main-table .status-table .color-form2 {
  text-align: center;
  line-height: 14px;
  box-sizing: border-box;
  border-radius: 3px;
  color: white;
  opacity: 0.75;
  padding: 0.5px 6px;
  margin: 0 3px;
}
.crm-main-table .status-table .new-zakaz {
  animation: new-zakaz 2s infinite;
}

@keyframes new-zakaz {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.color-470010 {
  background-color: #470010;
}

.color-83004F {
  background-color: #83004F;
}

.color-C94F62 {
  background-color: #C94F62;
}

.color-9C02A7 {
  background-color: #9C02A7;
}

.color-1DD787 {
  background-color: #1DD787;
}

.color-00CC00 {
  background-color: #00CC00;
}

.color-00B9FF {
  background-color: #00B9FF;
}

.color-FF0000 {
  background-color: #FF0000;
}

.color-FFCF00 {
  background-color: #FFCF00;
}

.color-91D100 {
  background-color: #91D100;
}

.color-F50296 {
  background-color: #F50296;
}

.color-6996D3 {
  background-color: #6996D3;
}

.color-3415B0 {
  background-color: #3415B0;
}

.color-B0FF00 {
  background-color: #B0FF00;
}

.colum-country {
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  height: 0px;
  box-sizing: border-box;
}
.colum-country .country-btn {
  text-align: left;
  display: block;
  opacity: 0.5;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: rgba(156, 155, 158, 0.7);
  padding-left: 3px;
}
.colum-country .country-btn .list-item img {
  position: absolute;
  left: 4px;
}
.colum-country .country-btn .list-item span {
  margin-left: 20px;
}
.colum-country .country-btn .list {
  height: 14px;
}
.colum-country .country-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
}
.colum-country .block1 {
  background: white;
  z-index: 3;
  color: black;
  display: none;
  position: absolute;
  text-align: left;
  overflow-x: hidden;
  height: 90px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 55px;
}
.colum-country .block1 .list-item img {
  position: absolute;
  left: 5px;
}
.colum-country .block1 .list-item span {
  margin-left: 25px;
}
.colum-country .block1 .list {
  height: 18px;
  line-height: 18px;
}
.colum-country .block1 .list:first-child {
  padding-left: 3px;
}
.colum-country .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-country .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: -9px;
  top: 0;
}
.colum-country .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-country .block1 .simplebar-content-wrapper {
  padding: 0;
}

.z-index {
  z-index: -1;
  position: relative;
}

.block1.toggle {
  display: block;
}

.block1 .list:hover {
  background-color: rgba(81, 81, 81, 0.3);
}

.select-btn {
  background-color: rgba(81, 81, 81, 0.3);
}