.container-info-settings {
  margin-left: 51px;
  margin-top: 5px;
  margin-right: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 800px) {
  .container-info-settings {
    margin-left: 30px;
  }
}

.crm-header {
  display: flex;
  margin: 0;
  top: -5px;
  padding-top: 5px;
  position: relative;
  z-index: 333;
  background-color: white;
  width: 100%;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-right: 20px;
}
.crm-header .crm-header-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  margin: 1px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
}
.crm-header .crm-header-link .new-orders-header {
  position: relative;
}
.crm-header .crm-header-link .new-orders-header::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #00B9FF;
  position: absolute;
  left: -7px;
  top: 5px;
}
.crm-header .crm-header-link .count-link {
  font-size: 10px;
  opacity: 0.5;
}

.scroll-wrap {
  height: 95%;
}
.scroll-wrap .simplebar-track.simplebar-vertical {
  background-color: transparent;
  width: 8px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 40px;
  cursor: pointer;
}
.scroll-wrap .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 8px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}
.scroll-wrap .simplebar-track.simplebar-horizontal {
  background-color: transparent;
  height: 8px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 20px;
  cursor: pointer;
  padding-top: 2px;
  bottom: 0;
  border-radius: 10px;
}
.scroll-wrap .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 8px;
  left: 0;
  right: 0;
  bottom: 8px;
  top: 0px;
  cursor: pointer;
  margin-bottom: 2px;
}
.scroll-wrap .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  cursor: pointer;
}
.scroll-wrap .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 10px;
}
.scroll-wrap .simplebar-content-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

@media screen and (max-height: 800px) {
  .scroll-wrap .simplebar-track.simplebar-horizontal {
    margin-bottom: 30px;
  }
}
.scroll-wrap2 .simplebar-track.simplebar-vertical {
  background-color: transparent;
  width: 0px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0px;
  cursor: pointer;
}
.scroll-wrap2 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 0px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}
.scroll-wrap2 .simplebar-track.simplebar-horizontal {
  background-color: transparent;
  height: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  cursor: pointer;
  padding-top: 0px;
  bottom: 0;
  border-radius: 10px;
}
.scroll-wrap2 .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  top: 0px;
  cursor: pointer;
  margin-bottom: 2px;
}
.scroll-wrap2 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  cursor: pointer;
}
.scroll-wrap2 .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 10px;
}
.scroll-wrap2 .simplebar-content-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  width: calc(100% - 40px);
}

.color-64a727 {
  background-color: #64a727;
}

.color-c6b922 {
  background-color: #c6b922;
}

.color-e2d317 {
  background-color: #e2d317;
}

.color-515151 {
  background-color: rgba(81, 81, 81, 0.7);
}

.color-C4C4C4 {
  background-color: #C4C4C4;
}

.color-83004F {
  background-color: #83004F;
}

.color-91d100 {
  background-color: #91d100;
}

.color-C94F62 {
  background-color: #C94F62;
}

.color-fd7777 {
  background-color: #fd7777;
}

.color-9C02A7 {
  background-color: #9C02A7;
}

.color-1DD787 {
  background-color: #1DD787;
}

.color-00CC00 {
  background-color: #00CC00;
}

.color-00B9FF {
  background-color: #00B9FF;
}

.color-FF0000 {
  background-color: #FF0000;
}

.color-FFCF00 {
  background-color: #FFCF00;
}

.color-91D100 {
  background-color: #91D100;
}

.color-da291c {
  background-color: #da291c;
}

.color-6996D3 {
  background-color: #6996D3;
}

.color-3415B0 {
  background-color: #3415B0;
}

.color-B0FF00 {
  background-color: #B0FF00;
}

.color-470010 {
  background-color: #470010;
}

.color-9C02A7 {
  background-color: #9C02A7;
}

.color-2c8b11 {
  background-color: #2c8b11;
}

.color-c7a95c {
  background-color: #c7a95c;
}

.color-d7a214 {
  background-color: #d7a214;
}

.color-68a6d7 {
  background-color: #68a6d7;
}

.color-169dd9 {
  background-color: #169dd9;
}

.color-a82451 {
  background-color: #a82451;
}

.color-d90d53 {
  background-color: #d90d53;
}

.color-856915 {
  background-color: #856915;
}

.color-form {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  border-radius: 2px;
  left: 0;
  opacity: 0.75;
}

.btn-toggle {
  font-weight: 600;
  position: relative;
}
.btn-toggle .color-form {
  height: 4px;
  bottom: 2px;
}

.arrow-bg {
  background-color: white;
  height: 25px;
  width: 40px;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 2222;
}
.arrow-bg .arrow-next {
  width: 13px;
  height: 13px;
  background-image: url("../img/arrow-down.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(-90deg);
  opacity: 0.7;
  left: 20px;
  cursor: pointer;
}
.arrow-bg .arrow-prev {
  width: 13px;
  height: 13px;
  background-image: url("../img/arrow-down.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(90deg);
  opacity: 0.7;
  cursor: pointer;
}

.crm-table {
  margin-top: 0px;
  z-index: 888;
}

.container-info-settings tr td {
  white-space: nowrap;
  height: 18px;
  line-height: 14px;
}
.container-info-settings tr td .input-style {
  background: #d4d4d4;
  outline: none;
  border: 1px white solid;
  width: 100%;
  box-sizing: border-box;
  padding: 1px 3px;
  font-size: 10px;
  line-height: 14px;
}
.container-info-settings tr td .input-style::placeholder {
  font-size: 10px;
}
.container-info-settings tr td .message-box {
  display: flex;
  justify-content: space-between;
}
.container-info-settings tr td .count-message {
  background: rgba(156, 155, 158, 0.4);
  box-sizing: border-box;
  position: relative;
  width: 18%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  border-right: 1px white solid;
}
.container-info-settings tr td .message-btn {
  position: relative;
  cursor: pointer;
}
.container-info-settings tr td .message-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
  z-index: 22;
}
.container-info-settings tr td .message-menu {
  display: none;
  z-index: 3;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: absolute;
  width: 25px;
  text-align: center;
  background-color: white;
  right: 0;
  top: 18px;
  height: 90px;
}
.container-info-settings tr td .message-menu .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  bottom: 0;
  border-radius: 5px;
}
.container-info-settings tr td .message-menu .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.container-info-settings tr td .message-menu .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.container-info-settings tr td .message-menu .simplebar-content-wrapper {
  padding: 0;
}
.container-info-settings tr td .message-menu .message-list {
  position: relative;
}
.container-info-settings tr td .message-menu .message-list .all {
  width: 100%;
  display: inline-block;
}
.container-info-settings tr td .message-menu .message-list:hover .message-link {
  color: rgba(0, 0, 0, 0.5);
}
.container-info-settings tr td .message-menu .message-list input {
  outline: none;
  border: none;
}
.container-info-settings tr td .message-menu .select-btn:before {
  top: 4px;
  left: 2px;
}
.container-info-settings tr td .message-menu .select-btn-static:before {
  top: 4px;
  left: 2px;
}
.container-info-settings tr td .count-toggle {
  display: block;
}
.container-info-settings tr td .tel-style {
  width: 83%;
}
.container-info-settings tr td .date-block {
  background: rgba(156, 155, 158, 0.4);
  padding: 0 3px;
  border: 1px white solid;
  min-width: 113px;
  justify-content: space-between;
  display: flex;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  line-height: 16px;
}
.container-info-settings tr td .date-block .date-style {
  width: 50px;
  text-align: center;
  border: none;
  font-size: 9px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
}
.container-info-settings tr td .message-box-ttn {
  display: flex;
  justify-content: space-between;
}
.container-info-settings tr td .message-box-ttn .ttn-style {
  width: 83%;
}
.container-info-settings tr td .message-box-ttn .count-ttn {
  background: rgba(156, 155, 158, 0.4);
  box-sizing: border-box;
  position: relative;
  width: 18%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  border-right: 1px white solid;
}
.container-info-settings tr td .message-box-ttn .btn-ttn {
  position: relative;
  cursor: pointer;
}
.container-info-settings tr td .message-box-ttn .btn-ttn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
  z-index: 22;
}
.container-info-settings tr td .message-box-ttn .menu-ttn {
  display: none;
  z-index: 3;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: absolute;
  width: 25px;
  text-align: center;
  background-color: white;
  right: 0;
  top: 18px;
  height: 90px;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  bottom: 0;
  border-radius: 5px;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .simplebar-content-wrapper {
  padding: 0;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .list-ttn {
  position: relative;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .list-ttn .all {
  width: 100%;
  display: inline-block;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .list-ttn:hover .message-link {
  color: rgba(0, 0, 0, 0.5);
}
.container-info-settings tr td .message-box-ttn .menu-ttn .list-ttn input {
  outline: none;
  border: none;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .select-btn:before {
  top: 4px;
  left: 2px;
}
.container-info-settings tr td .message-box-ttn .menu-ttn .select-btn-static:before {
  top: 4px;
  left: 2px;
}
.container-info-settings tr td .message-box-ttn .count-toggle {
  display: block;
}

.date-block {
  text-align: center;
}

table {
  border-collapse: collapse;
}
table tr td {
  width: max-content;
  padding: 0px 4px;
  font-size: 12px;
}
table tr td:nth-child(odd) {
  background-color: #F1F1F1;
}

tr th {
  white-space: nowrap;
  padding: 2.5px 4px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px 3px 0 0;
  padding-top: 7px;
}
tr th:nth-child(odd) {
  background-color: #F1F1F1;
}

.header-search {
  padding: 0;
  font-size: 10px;
  height: 18px;
  position: relative;
  box-sizing: border-box;
}

.table-header {
  height: 24px;
  cursor: pointer;
}

.crm-input {
  height: 18px;
}

.crm-main-table {
  height: 19px;
}
.crm-main-table .country-block {
  text-align: center;
  position: relative;
}
.crm-main-table .country-flag {
  text-align: center;
  box-sizing: border-box;
  height: 18px;
  position: relative;
  top: 2px;
}
.crm-main-table .country-flag .flag {
  height: 13px;
}
.crm-main-table .svg-position {
  position: relative;
  top: 2px;
}
.crm-main-table .svg-position img {
  height: 15px;
}
.crm-main-table .svg-position .samovivoz path {
  fill: #515151;
}
.crm-main-table .tel-colum {
  justify-content: space-between;
  width: inherit;
  display: flex;
  height: 19px;
}
.crm-main-table .tel-colum .svg-wrap {
  display: inline-block;
}
.crm-main-table .tel-colum .svg-wrap .count {
  top: -2px;
}
.crm-main-table .tel {
  text-align: center;
  line-height: 16px;
  display: inline-block;
  position: relative;
}
.crm-main-table .tel .mob-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
  height: 13px;
}
.crm-main-table .svg-wrap {
  margin-left: 5px;
  position: relative;
  margin-right: 3px;
  top: 2px;
}
.crm-main-table .svg-wrap .count {
  position: absolute;
  border-radius: 100%;
  font-size: 7px;
  width: 8px;
  height: 8px;
  font-weight: 600;
  background-color: #9C9B9E;
  color: white;
  text-align: center;
  right: -3px;
  line-height: 9px;
  top: -5px;
  border: 1.28571px solid #F1F1F1;
}
.crm-main-table .product-colum {
  text-align: center;
  position: relative;
  top: -1px;
}
.crm-main-table .product-colum .svg-wrap {
  margin-left: 3px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.crm-main-table .product-colum .svg-wrap .count {
  right: -2px;
  border: 1.28571px solid #F1F1F1;
}
.crm-main-table .colum-pay {
  text-align: center;
}
.crm-main-table .colum-pay .svg-wrap {
  margin-left: 0;
  margin-right: 0;
}
.crm-main-table .ttn-block .ttn-position {
  justify-content: space-between;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.crm-main-table .ttn-block .ttn-number {
  display: inline-block;
  text-align: left;
}
.crm-main-table .ttn-block .svg-wrap {
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}
.crm-main-table .ttn-block .svg-wrap .count {
  right: -4px;
  top: -3px;
}

.crm-main-table.select-toggle:hover {
  position: relative;
  color: white;
}
.crm-main-table.select-toggle:hover td {
  background-color: rgba(81, 81, 81, 0.7);
}

.crm-main-table.selected-lock:hover {
  position: relative;
}
.crm-main-table.selected-lock:hover td {
  background: rgba(198, 193, 190, 0.5);
  color: rgba(0, 0, 0, 0.2);
}
.crm-main-table.selected-lock:hover .id-table:before {
  content: "";
  background: none;
  background-image: url("../img/lock.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -15px;
}

.select-toggle {
  position: relative;
}
.select-toggle img {
  opacity: 0.5;
}
.select-toggle td:nth-child(odd) {
  background-color: rgba(81, 81, 81, 0.7);
}
.select-toggle td {
  color: white;
  background-color: rgba(81, 81, 81, 0.7);
}
.select-toggle .np-ico path {
  opacity: 0.5;
}
.select-toggle .cls-2 {
  opacity: 0.5;
}
.select-toggle .date-time {
  color: white;
}
.select-toggle .svg-convert path {
  stroke: #F1F1F1;
}
.select-toggle .svg-wrap .count {
  background: #F1F1F1;
  color: #515151;
  border: 1.28571px solid rgba(81, 81, 81, 0.7);
}
.select-toggle .product-colum .svg-wrap path {
  fill: #F1F1F1;
}
.select-toggle .product-colum .svg-wrap .count {
  background: #F1F1F1;
  border: 1.28571px solid rgba(81, 81, 81, 0.7);
}
.select-toggle .card path {
  fill: #F1F1F1;
}
.select-toggle .coin path {
  fill: #F1F1F1;
}
.select-toggle .coin circle {
  stroke: #F1F1F1;
}
.select-toggle .convert-pay path {
  fill: #F1F1F1;
}
.select-toggle .svg-decline path {
  stroke: #F1F1F1;
}
.select-toggle .svg-trade path {
  stroke: #F1F1F1;
}
.select-toggle .svg-box path {
  fill: #F1F1F1;
}
.select-toggle .svg-box-day path {
  fill: #F1F1F1;
}
.select-toggle .id-table:before {
  content: "";
  width: 7px;
  height: 19px;
  position: absolute;
  background: #515151;
  left: -7px;
  border-radius: 3px 0 0 3px;
  top: 0;
}

.selected-lock {
  position: relative;
}
.selected-lock td {
  background: rgba(198, 193, 190, 0.5);
  color: rgba(0, 0, 0, 0.2);
}
.selected-lock td:nth-child(odd) {
  background: rgba(198, 193, 190, 0.5);
}
.selected-lock img {
  opacity: 0.5;
}
.selected-lock .np-ico path {
  opacity: 0.5;
}
.selected-lock .cls-2 {
  opacity: 0.5;
}
.selected-lock .svg-wrap .count {
  border: 1.28571px solid #d8d8d8;
}
.selected-lock .id-table:before {
  content: "";
  background-image: url("../img/lock.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -15px;
}
.selected-lock .date-time {
  color: #c5bfbf;
}

.id-table {
  position: relative;
}

.crm-main-table:hover {
  position: relative;
}
.crm-main-table:hover td {
  background: rgba(81, 81, 81, 0.3);
}
.crm-main-table:hover .id-table:before {
  content: "";
  width: 7px;
  height: 19px;
  position: absolute;
  background: #515151;
  left: -7px;
  border-radius: 3px 0 0 3px;
  top: 0;
}

.crm-main-table .status-table {
  text-align: center;
}
.crm-main-table .status-table .color-form2 {
  text-align: left;
  line-height: 14px;
  box-sizing: border-box;
  border-radius: 3px;
  color: white;
  opacity: 0.75;
  padding: 0.5px 6px;
  margin: 0 3px;
  z-index: 22;
}

.new-orders {
  position: relative;
}
.new-orders::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #00B9FF;
  position: absolute;
  left: -11px;
  top: 8px;
}

.color-928c42 {
  background-color: #928c42;
}

.color-470010 {
  background-color: #470010;
}

.color-83004F {
  background-color: #83004F;
}

.color-C94F62 {
  background-color: #C94F62;
}

.color-9C02A7 {
  background-color: #9C02A7;
}

.color-1DD787 {
  background-color: #1DD787;
}

.color-00CC00 {
  background-color: #00CC00;
}

.color-00B9FF {
  background-color: #00B9FF;
}

.color-FF0000 {
  background-color: #FF0000;
}

.color-FFCF00 {
  background-color: #FFCF00;
}

.color-91D100 {
  background-color: #91D100;
}

.color-F50296 {
  background-color: #F50296;
}

.color-6996D3 {
  background-color: #6996D3;
}

.color-3415B0 {
  background-color: #3415B0;
}

.color-B0FF00 {
  background-color: #B0FF00;
}

.status-table {
  position: relative;
  box-sizing: border-box;
}
.status-table .status-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
}
.status-table .status-btn .input-btn {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  line-height: 14px;
}
.status-table .status-btn .input-btn::placeholder {
  font-size: 10px;
}
.status-table .status-btn .color-form {
  bottom: -3px;
}
.status-table .status-btn .list-item {
  position: relative;
  height: 12px;
  display: inline-block;
}
.status-table .status-btn .text-lenght {
  display: inline-block;
}
.status-table .status-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.status-table .list-status:hover .text-lenght {
  color: rgba(0, 0, 0, 0.5);
}
.status-table .block1 {
  background: white;
  z-index: 3;
  color: black;
  visibility: hidden;
  opacity: 0;
  top: 0;
  position: absolute;
  text-align: left;
  overflow-x: hidden;
  height: 90px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 100%;
}
.status-table .block1 .status-text {
  display: inline-block;
}
.status-table .block1 .select-btn:before {
  left: 6px;
  top: 4px;
}
.status-table .block1 .select-btn-static:before {
  left: -9px;
  top: 4px;
}
.status-table .block1 .all {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.status-table .block1 .color-form {
  bottom: -2px;
}
.status-table .block1 .list-status span:nth-child(2) {
  display: inline-block;
  height: 14px;
}
.status-table .block1 .list-item {
  position: relative;
  left: 15px;
  height: 12px;
  display: inline-block;
}
.status-table .block1 .list-status {
  height: 18px;
  position: relative;
  margin-right: 10px;
}
.status-table .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.status-table .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.status-table .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.status-table .block1 .simplebar-content-wrapper {
  padding: 0;
}

.colum-country {
  position: relative;
  box-sizing: border-box;
}
.colum-country .country-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 3px;
}
.colum-country .country-btn .list-item img {
  display: block;
  margin: auto;
  height: 13px;
  position: relative;
  top: 1px;
}
.colum-country .country-btn .list-item span:first-child {
  margin-left: 0;
}
.colum-country .country-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-country .block1 .list:hover img {
  opacity: 0.5;
}
.colum-country .block1 .list:hover .all span {
  opacity: 0.5;
}
.colum-country .block1 {
  background: white;
  z-index: 3;
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 100%;
  top: 0;
}
.colum-country .block1 .select-btn:before {
  left: 7px;
  top: 4px;
}
.colum-country .block1 .all {
  width: 100%;
  display: block;
}
.colum-country .block1 .list-item img {
  display: block;
  margin: auto;
}
.colum-country .block1 .list-item {
  width: 100%;
  height: 100%;
}
.colum-country .block1 .list {
  height: 18px;
  text-align: center;
  position: relative;
}
.colum-country .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-country .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-country .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-country .block1 .simplebar-content-wrapper {
  padding: 0;
}

.colum-pay {
  position: relative;
  box-sizing: border-box;
}
.colum-pay .pay-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 3px;
}
.colum-pay .pay-btn .list-item svg {
  height: 15px;
  display: block;
  margin: auto;
}
.colum-pay .pay-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-pay .block1 .list:hover svg {
  opacity: 0.5;
}
.colum-pay .block1 .list:hover .all span {
  opacity: 0.5;
}
.colum-pay .block1 {
  background: white;
  z-index: 3;
  color: black;
  visibility: hidden;
  opacity: 0;
  top: 0;
  position: absolute;
  text-align: left;
  overflow-x: hidden;
  height: 90px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 100%;
}
.colum-pay .block1 .select-btn:before {
  left: 7px;
  top: 4px;
}
.colum-pay .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-pay .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-pay .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-pay .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-pay .block1 .list {
  position: relative;
  height: 18px;
}
.colum-pay .block1 .list img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}
.colum-pay .block1 .list-item {
  width: 100%;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.colum-delivery {
  box-sizing: border-box;
  border: none;
  font-size: 10px;
  position: relative;
}
.colum-delivery .samovivoz path {
  fill: #515151;
}
.colum-delivery .delivery-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 3px;
}
.colum-delivery .delivery-btn .list-item img {
  display: block;
  margin: auto;
  height: 15px;
}
.colum-delivery .delivery-btn .list-item svg {
  display: block;
  margin: auto;
}
.colum-delivery .delivery-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-delivery .select-btn-static:before {
  top: 4px;
  left: 7px;
}
.colum-delivery .select-btn:before {
  left: 7px;
  top: 4px;
}
.colum-delivery .block1 .list:hover img {
  opacity: 0.5;
}
.colum-delivery .block1 .list:hover svg {
  opacity: 0.5;
}
.colum-delivery .block1 .list:hover .all span {
  opacity: 0.5;
}
.colum-delivery .block1 {
  z-index: 222;
  color: black;
  visibility: hidden;
  opacity: 0;
  top: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 2222;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.colum-delivery .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-delivery .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-delivery .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-delivery .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-delivery .block1 .all {
  width: 100%;
  display: block;
}
.colum-delivery .block1 .list-item img {
  display: block;
  margin: auto;
  height: 15px;
}
.colum-delivery .block1 .list-item {
  width: 100%;
  height: 100%;
}
.colum-delivery .block1 .list {
  height: 18px;
  text-align: center;
  position: relative;
}

.colum-employe {
  box-sizing: border-box;
  border: none;
  font-size: 10px;
  position: relative;
}
.colum-employe .employe-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 10px;
}
.colum-employe .employe-btn .input-btn {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  line-height: 14px;
}
.colum-employe .employe-btn .input-btn::placeholder {
  font-size: 10px;
}
.colum-employe .employe-btn .list-item {
  text-align: center;
  line-height: 18px;
}
.colum-employe .employe-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-employe .select-btn-static:before {
  top: 4px;
  left: 7px;
}
.colum-employe .select-btn:before {
  top: 4px;
  left: 7px;
}
.colum-employe .block1 {
  z-index: 222;
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 2222;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.colum-employe .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-employe .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-employe .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-employe .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-employe .block1 .list-employe {
  position: relative;
  height: 16px;
}
.colum-employe .block1 .list-item {
  margin-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 16px;
}
.colum-employe .block1 .list-employe:hover .list-item span {
  opacity: 0.5;
}

.colum-employe-prinyal {
  box-sizing: border-box;
  border: none;
  font-size: 10px;
  position: relative;
}
.colum-employe-prinyal .employe-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 10px;
}
.colum-employe-prinyal .employe-btn .input-btn {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  line-height: 14px;
}
.colum-employe-prinyal .employe-btn .input-btn::placeholder {
  font-size: 10px;
}
.colum-employe-prinyal .employe-btn .list-item {
  text-align: center;
  line-height: 18px;
}
.colum-employe-prinyal .employe-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-employe-prinyal .select-btn-static:before {
  top: 4px;
  left: 7px;
}
.colum-employe-prinyal .select-btn:before {
  top: 4px;
  left: 7px;
}
.colum-employe-prinyal .block1 {
  z-index: 222;
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 2222;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.colum-employe-prinyal .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-employe-prinyal .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-employe-prinyal .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-employe-prinyal .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-employe-prinyal .block1 .list-employe {
  position: relative;
  height: 16px;
}
.colum-employe-prinyal .block1 .list-item {
  margin-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 16px;
}
.colum-employe-prinyal .block1 .list-employe:hover .list-item span {
  opacity: 0.5;
}

.colum-employe-izmenil {
  box-sizing: border-box;
  border: none;
  font-size: 10px;
  position: relative;
}
.colum-employe-izmenil .employe-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 10px;
}
.colum-employe-izmenil .employe-btn .input-btn {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  line-height: 14px;
}
.colum-employe-izmenil .employe-btn .input-btn::placeholder {
  font-size: 10px;
}
.colum-employe-izmenil .employe-btn .list-item {
  text-align: center;
  line-height: 18px;
}
.colum-employe-izmenil .employe-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-employe-izmenil .select-btn-static:before {
  top: 4px;
  left: 7px;
}
.colum-employe-izmenil .select-btn:before {
  top: 4px;
  left: 7px;
}
.colum-employe-izmenil .block1 {
  z-index: 222;
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: left;
  height: 90px;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 2222;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.colum-employe-izmenil .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-employe-izmenil .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-employe-izmenil .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-employe-izmenil .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-employe-izmenil .block1 .list-employe {
  position: relative;
  height: 16px;
}
.colum-employe-izmenil .block1 .list-item {
  margin-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 16px;
}
.colum-employe-izmenil .block1 .list-employe:hover .list-item span {
  opacity: 0.5;
}

.colum-depart {
  box-sizing: border-box;
  border: none;
  font-size: 10px;
  position: relative;
}
.colum-depart .depart-btn {
  text-align: left;
  display: block;
  cursor: pointer;
  line-height: 16px;
  height: 16px;
  border: 1px solid white;
  background: #d4d4d4;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  width: 100%;
  padding-right: 10px;
}
.colum-depart .depart-btn .input-btn {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  line-height: 14px;
}
.colum-depart .depart-btn .input-btn::placeholder {
  font-size: 10px;
}
.colum-depart .depart-btn .list-item {
  text-align: center;
  line-height: 18px;
}
.colum-depart .depart-btn:after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow-down.svg");
  width: 6px;
  height: 3px;
  background-size: 100%;
  top: 7px;
  right: 4px;
  opacity: 0.8;
}
.colum-depart .select-btn-static:before {
  top: 4px;
  left: 7px;
}
.colum-depart .select-btn:before {
  top: 4px;
  left: 7px;
}
.colum-depart .block1 {
  z-index: 222;
  color: black;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  height: 90px;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 2222;
  top: 0;
  background-color: white;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.colum-depart .block1 .simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  width: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  bottom: 0;
  border-radius: 5px;
}
.colum-depart .block1 .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(0, 0, 0, 0.3);
  width: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.colum-depart .block1 .simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.colum-depart .block1 .simplebar-content-wrapper {
  padding: 0;
}
.colum-depart .block1 .list-depart {
  position: relative;
  height: 16px;
}
.colum-depart .block1 .list-item {
  margin-left: 15px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 16px;
}
.colum-depart .block1 .list-depart:hover .list-item span {
  opacity: 0.5;
}

.block1.toggle {
  visibility: visible;
  opacity: 1;
  top: 18px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.select-btn:before {
  content: "";
  width: 4px;
  height: 4px;
  top: 5px;
  left: 3px;
  border-radius: 100%;
  position: absolute;
  background-color: #787885;
}

.select-btn-static:before {
  content: "";
  width: 4px;
  height: 4px;
  left: 7px;
  top: 4px;
  border-radius: 100%;
  position: absolute;
  background-color: #787885;
}

.wrap-hide {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition-delay: 0.2s;
  bottom: -18px;
  position: relative;
}

.wrap-open {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  bottom: 0;
}

.svg-delivery {
  text-align: center;
}

.date-time {
  font-size: 10px;
  color: #7b7b7b;
  margin-left: 4px;
  text-align: center;
}

.colum-sum {
  text-align: right;
}

#hoverSelect {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 12px;
  background: #515151;
  color: white;
  border-radius: 3px;
  z-index: 999;
  display: none;
}

#tooltipBtn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  max-height: 270px;
  background-color: rgba(81, 81, 81, 0.6);
  border-radius: 3px;
  top: 0;
  left: 0;
  font-size: 12px;
  color: white;
  padding: 4px 5px;
  text-align: left;
  z-index: 999 !important;
  word-break: break-word;
  white-space: normal;
  width: max-content;
  max-width: 300px;
  backdrop-filter: blur(4px);
}

@keyframes delay-status {
  0% {
    opacity: 0;
    visibility: visible;
  }
  60% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes delay-header {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes delay-resize {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes delay-another {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes delay-btn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.text-tooltip {
  font-size: 12px;
  display: inline-block;
  margin-top: 7px;
}

#hoverSelected-lock {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  max-height: 100px;
  background-color: rgba(81, 81, 81, 0.6);
  border-radius: 3px;
  top: 0;
  left: 0;
  font-size: 12px;
  color: white;
  padding: 4px 5px;
  z-index: 999 !important;
  white-space: normal;
  width: max-content;
  word-break: break-word;
  text-align: left;
  max-width: 300px;
  backdrop-filter: blur(4px);
}

.crm-main-table td {
  position: relative;
}

.table-header th {
  position: relative;
  cursor: grab;
}
.table-header th:hover .resize {
  height: 25.5px;
  background-color: rgba(63, 62, 62, 0.8);
  visibility: visible;
}
.table-header th .resize:hover {
  background-color: rgba(194, 194, 194, 0.8);
  transition: 0.3s;
}
.table-header th .resize {
  content: "";
  width: 10px;
  height: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
  border-radius: 0 3px 0 0;
  visibility: hidden;
  cursor: pointer;
}