// * {
//     cursor: url('../img/near_me_24px.png') 10 10, crosshair;
// }
// .simplebar-scrollbar:before {
//     cursor: url('../img/near_me_24px.png') 10 10, crosshair;
// }
.crm-order {
    // overflow: auto;
    // height: 400px;
    // cursor: url('../img/near_me_24px.png');
    // width: 3140px;
    // .simplebar-track.simplebar-vertical {
    //     background-color: transparent;
    //     width: 6px;
    //     margin-right: 0px;
    //     margin-top: 0px;
    //     margin-bottom: 40px;
    // }
    // .simplebar-track.simplebar-horizontal {
    //     background-color: transparent;
    //     height: 6px;
    //     margin-right: 20px;
    //     margin-bottom: 40px;
    //     margin-left: 30px;
    // }
    // .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    //     background: rgba(0, 0, 0, 0.3);
    //     width: 6px;
    //     border-radius: 5px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     top: 0;
    // }
    // .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
    //     background: rgba(0, 0, 0, 0.3);
    //     border-radius: 5px;
    //     height: 6px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     top: -2px;
    // }
    // .simplebar-scrollbar.simplebar-visible:before {
    //     opacity: 1;
    // }
    // .simplebar-content-wrapper {
    //     padding-right: 15px;
    //     padding-left: 15px;
    //     padding-bottom: 30px;
    // }
    // div {
    //     padding-left: 2px;
    //     padding-right: 2px;
    // }
    // .crm-input {
    //     input {
    //         padding-left: 2px;
    //         padding-right: 2px;
    //         width: 53px;
    //     }
    //     div {
    //         padding-left: 2px;
    //         padding-right: 2px;
    //     }
    // }
    // .crm-body-header {
    //     width: max-content;
    // }
}

.crm-main-table {
    width: 4000px;
}

.wrap-scroll {
    // width: 900px;
    // height: 300px;
    // position: sticky;
    .simplebar-track.simplebar-vertical {
        background-color: transparent;
        width: 6px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .simplebar-track.simplebar-horizontal {
        background-color: transparent;
        height: 6px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        width: 6px;
        border-radius: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        height: 6px;
        left: 0;
        right: 0;
        bottom: 0;
        top: -2px;
    }
    .simplebar-scrollbar.simplebar-visible:before {
        opacity: 1;
    }
    .simplebar-content-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

.color-form {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    border-radius: 2px;
    left: 0;
}

.btn-toggle {
    font-weight: 600;
    position: relative;
    .color-form {
        height: 4px;
        bottom: -4px;
    }
}

.crm-header {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    position: fixed;
    top: 60px;
    z-index: 333;
    background-color: white;
    .crm-header-link {
        padding-left: 10px;
        padding-right: 10px;
        // white-space: nowrap;
        position: relative;
        text-align: center;
        margin: 1px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;
        .count-link {
            font-size: 10px;
            opacity: 0.5;
        }
        .color-C4C4C4 {
            background-color: #C4C4C4;
        }
        .color-83004F {
            background-color: #83004F;
        }
        .color-C94F62 {
            background-color: #C94F62;
        }
        .color-9C02A7 {
            background-color: #9C02A7;
        }
        .color-1DD787 {
            background-color: #1DD787;
        }
        .color-00CC00 {
            background-color: #00CC00;
        }
        .color-00B9FF {
            background-color: #00B9FF;
        }
        .color-FF0000 {
            background-color: #FF0000;
        }
        .color-FFCF00 {
            background-color: #FFCF00;
        }
        .color-91D100 {
            background-color: #91D100;
        }
        .color-F50296 {
            background-color: #F50296;
        }
        .color-6996D3 {
            background-color: #6996D3;
        }
        .color-3415B0 {
            background-color: #3415B0;
        }
        .color-B0FF00 {
            background-color: #B0FF00;
        }
        .color-470010 {
            background-color: #470010;
        }
        .color-9C02A7 {
            background-color: #9C02A7;
        }
    }
}

.crm-body-header {
    margin-top: 20px;
    position: sticky;
    width: 4000px;
    .crm-name-list {
        font-size: 14px;
        text-align: center;
        display: flex;
        div {
            height: 23px;
            line-height: 23px;
            border-radius: 3px 3px 0 0;
            // margin-right: 1px;
        }
        div:nth-child(5) {
            border-radius: 3px 0 0 0;
            margin-right: 0;
        }
        div:nth-child(6) {
            border-radius: 0 3px 0 0;
        }
    }
    div {
        line-height: 18px;
    }
}

.colum-id {
    height: 18px;
    width: 49px;
    background-color: #F1F1F1;
}

.colum-order-id {
    height: 18px;
    width: 100px;
}

.colum-user {
    height: 18px;
    width: 180px;
    background-color: #F1F1F1;
}

.colum-country {
    height: 18px;
    width: 57px;
    position: relative;
    img {
        position: absolute;
        left: 5px;
        width: 15px;
        height: 15px;
        top: 1px;
    }
}

.colum-tel {
    height: 18px;
    width: 130px;
    position: relative;
    background-color: #F1F1F1;
    img {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 2px;
        top: 2px;
        z-index: 2;
    }
}

.colum-tel-info {
    height: 18px;
    width: 26px;
    background-color: #F1F1F1;
}

.colum-comm {
    height: 18px;
    width: 180px;
}

.colum-sum {
    height: 18px;
    width: 63px;
    background-color: #F1F1F1;
}

.colum-product {
    height: 18px;
    width: 282px;
}

.colum-pay {
    width: 53px;
    height: 18px;
    background-color: #F1F1F1;
    img {
        width: 20px;
        height: 14px;
        position: relative;
        top: 2px;
    }
}

.colum-delivery {
    height: 18px;
    width: 105px;
}

.colum-delivery-adress {
    width: 200px;
    height: 18px;
    background-color: #F1F1F1;
}

.colum-TTN {
    width: 120px;
    height: 18px;
}

.colum-TTN-status {
    width: 160px;
    height: 18px;
    background-color: #F1F1F1;
}

.colum-add {
    height: 18px;
    width: 155px;
}

.colum-employe {
    height: 18px;
    width: 135px;
    background-color: #F1F1F1;
}

.colum-depart {
    height: 18px;
    width: 130px;
}

.colum-update {
    height: 18px;
    width: 155px;
    background-color: #F1F1F1;
}

.colum-finish {
    height: 18px;
    width: 155px;
}

.colum-send {
    height: 18px;
    width: 155px;
    background-color: #F1F1F1;
}

.colum-site {
    height: 18px;
    width: 150px;
}

.colum-status {
    height: 18px;
    width: 100px;
    background-color: #F1F1F1;
}

.colum-utm_source {
    width: 90px;
    height: 18px;
}

.colum-utm_medium {
    height: 18px;
    width: 90px;
    background-color: #F1F1F1;
}

.colum-utm_term {
    height: 18px;
    width: 90px;
}

.colum-utm_content {
    height: 18px;
    width: 90px;
    background-color: #F1F1F1;
}

.colum-utm_campaign {
    height: 18px;
    width: 130px;
}

.colum-ip {
    height: 18px;
    width: 110px;
    background-color: #F1F1F1;
}

.colum-field-1 {
    height: 18px;
    width: 140px;
}

.colum-field-2 {
    height: 18px;
    width: 140px;
    background-color: #F1F1F1;
}

.colum-field-3 {
    height: 18px;
    width: 140px;
}

.colum-field-4 {
    height: 18px;
    width: 140px;
    background-color: #F1F1F1;
}

.crm-input {
    display: flex;
    list-style: none;
    padding-left: 0;
    opacity: 1;
    transition: 0.3s;
    // &:hover {
    //     opacity: 1;
    //     transition: 0.3s;
    // }
    input {
        box-sizing: border-box;
        outline: none;
        border: none;
        // margin-right: 1px;
        background: rgba(156, 155, 158, 0.4);
        font-size: 12px;
        // box-shadow: 0 0 10px white;
        border: 1px solid white;
    }
    input:nth-child(5) {
        margin-right: 0;
    }
    .colum-add {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        padding: 1px 2px;
        align-items: center;
        input {
            width: 60px;
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            height: 100%;
            font-size: 10px;
        }
    }
    .colum-send {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        padding: 1px 2px;
        align-items: center;
        input {
            width: 60px;
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            height: 100%;
            font-size: 10px;
        }
    }
    .colum-finish {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        padding: 1px 2px;
        align-items: center;
        input {
            width: 60px;
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            height: 100%;
            font-size: 10px;
        }
    }
    .colum-update {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        padding: 1px 2px;
        align-items: center;
        input {
            width: 60px;
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            height: 100%;
            font-size: 10px;
        }
    }
    .colum-country {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .country-btn {
            text-align: left;
            display: block;
            margin-left: 4px;
            opacity: 0.5;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
            }
        }
    }
    .colum-tel-info {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .tel-btn {
            position: relative;
            opacity: 0.5;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: -20px;
            }
        }
    }
    .colum-pay {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .pay-btn {
            text-align: left;
            display: block;
            margin-left: 4px;
            opacity: 0.5;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
            }
        }
    }
    .colum-delivery {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .delivery-btn {
            text-align: left;
            display: block;
            margin-left: 4px;
            opacity: 0.5;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
            }
        }
    }
    .colum-employe {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .employe-btn {
            text-align: left;
            display: block;
            margin-left: 4px;
            opacity: 0.5;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
            }
        }
    }
    .colum-depart {
        box-sizing: border-box;
        border: none;
        background: rgba(156, 155, 158, 0.4);
        font-size: 10px;
        border: 1px solid white;
        .depart-btn {
            text-align: left;
            display: block;
            margin-left: 4px;
            opacity: 0.5;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
            }
        }
    }
    .colum-product::placeholder {
        font-size: 10px;
        padding-left: 2px;
    }
}

.crm-main-table {
    font-size: 12px;
    display: flex;
    white-space: nowrap;
    div {
        line-height: 18px;
    }
    .field {
        margin: 0 3px;
    }
    .ip {
        margin: 0 3px;
    }
    .utm {
        margin: 0 3px;
    }
    .camp {
        margin: 0 3px;
    }
    .colum-status {
        .item-status {
            margin: 0 3px;
        }
    }
    .colum-site {
        .site-item {
            margin: 0 3px;
        }
    }
    .colum-employe {
        .employe-item {
            margin: 0 3px;
        }
    }
    .colum-update {
        .update-item {
            margin: 0 3px;
        }
    }
    .colum-send {
        .send-item {
            margin: 0 3px;
        }
    }
    .colum-finish {
        .finish-item {
            margin: 0 3px;
        }
    }
    .colum-id {
        text-align: center;
    }
    .colum-order-id {
        text-align: center;
    }
    .colum-TTN-status {
        .status-item {
            margin: 0 3px;
        }
    }
    .colum-delivery-adress {
        .adress-item {
            margin: 0 3px;
        }
    }
    .colum-depart {
        .depart-item {
            margin: 0 3px;
        }
    }
    .colum-add {
        .add-item {
            margin: 0 3px;
        }
    }
    .order-id-style {
        border-radius: 3px;
        padding: 0.5px 6px;
        color: white;
        opacity: 0.7;
    }
    .colum-TTN {
        text-align: left;
        .ttn-item {
            margin: 0 3px;
        }
    }
    .country {
        margin-left: 25px;
        text-align: left;
        display: block;
    }
    .colum-pay {
        text-align: center;
        img {
            width: 15px;
            height: 15px;
        }
    }
    .colum-sum {
        text-align: left;
        .sum-item {
            margin: 0 3px;
        }
    }
    .colum-delivery {
        text-align: left;
        .delivery-item {
            margin: 0 3px;
        }
    }
    .colum-comm {
        text-align: left;
        .comm-item {
            margin: 0 3px;
        }
    }
    .colum-user {
        text-align: left;
        .user-item {
            margin: 0 3px;
        }
    }
    .colum-tel {
        text-align: center;
    }
    .colum-product {
        position: relative;
        .box {
            background-image: url('../img/box.svg');
            width: 14px;
            height: 14px;
            position: absolute;
            top: 2px;
            background-size: 100%;
            margin-left: 5px;
            .count {
                width: 9px;
                height: 9px;
                content: '';
                position: absolute;
                background-color: #9C9B9E;
                border-radius: 100%;
                font-size: 7px;
                color: white;
                right: -2px;
                top: -2px;
                text-align: center;
                line-height: 9px;
            }
        }
        .item-product {
            margin-left: 25px;
        }
    }
    .colum-tel-info {
        position: relative;
        text-align: center;
        .box {
            background-image: url('../img/convert.svg');
            width: 14px;
            height: 14px;
            position: absolute;
            top: 2px;
            left: 5px;
            background-size: 100%;
            .count {
                width: 9px;
                height: 9px;
                content: '';
                position: absolute;
                background-color: #9C9B9E;
                border-radius: 100%;
                font-size: 7px;
                color: white;
                right: -2px;
                top: -2px;
                text-align: center;
                line-height: 9px;
            }
        }
    }
}

.color-470010 {
    background-color: #470010;
}

.color-83004F {
    background-color: #83004F;
}

.color-C94F62 {
    background-color: #C94F62;
}

.color-9C02A7 {
    background-color: #9C02A7;
}

.color-1DD787 {
    background-color: #1DD787;
}

.color-00CC00 {
    background-color: #00CC00;
}

.color-00B9FF {
    background-color: #00B9FF;
}

.color-FF0000 {
    background-color: #FF0000;
}

.color-FFCF00 {
    background-color: #FFCF00;
}

.color-91D100 {
    background-color: #91D100;
}

.color-F50296 {
    background-color: #F50296;
}

.color-6996D3 {
    background-color: #6996D3;
}

.color-3415B0 {
    background-color: #3415B0;
}

.color-B0FF00 {
    background-color: #B0FF00;
}

// .colum-country {
//     position: relative;
//     z-index: 999;
//     .dropdown3 {
//         position: relative;
//         display: inline-block;
//         z-index: 999;
//         .ul-block3 {
//             background: green;
//             border: none;
//             color: black;
//             display: none;
//             padding: 5px 0px;
//             position: absolute;
//             height: 103px;
//             width: 56px;
//             top: -5px;
//             left: 0px;
//             list-style: none;
//             font-size: 14px;
//             font-weight: 300;
//             // box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
//             // backdrop-filter: blur(4px);
//             z-index: 999;
//             .list {
//                 cursor: pointer;
//                 position: relative;
//                 margin-left: 10px;
//                 margin-bottom: 5px;
//                 margin-top: 5px;
//                 z-index: 9999999;
//             }
//             .list:first-child:after {
//                 content: '';
//                 width: 10px;
//                 height: 5px;
//                 position: absolute;
//                 background-image: url('../img/arrow-up.svg');
//                 top: 6px;
//                 left: 47px;
//             }
//         }
//         .list-img {
//             border: none;
//             vertical-align: middle;
//             margin-left: 5px;
//             margin-right: 5px;
//             padding-bottom: 3px;
//         }
//         .simplebar-track.simplebar-vertical {
//             background-color: rgba(0, 0, 0, 0.1);
//             width: 3px;
//             margin-top: 5px;
//             margin-bottom: 5px;
//             margin-right: 5px;
//             bottom: 0;
//             border-radius: 5px;
//         }
//         .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
//             background: rgba(0, 0, 0, 0.3);
//             width: 3px;
//             border-radius: 5px;
//             left: 0;
//             right: 0;
//             bottom: -9px;
//             top: 0;
//         }
//         .simplebar-scrollbar.simplebar-visible:before {
//             opacity: 1;
//         }
//         .simplebar-content-wrapper {
//             padding: 0;
//         }
//     }
// }
.select-toggle {
    position: relative;
    color: white;
    div {
        background-color: rgba(81, 81, 81, 0.7);
    }
    &:before {
        content: '';
        width: 7px;
        height: 18px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
    }
}

.crm-main-table.select-toggle:hover {
    position: relative;
    color: white;
    div {
        background-color: rgba(81, 81, 81, 0.7);
    }
}

.crm-main-table:hover {
    div {
        background: rgba(81, 81, 81, 0.3);
    }
    &:before {
        content: '';
        width: 7px;
        height: 18px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
    }
}

.crm-main-table {
    position: relative;
}

.crm-main-table.selected-lock:hover {
    position: relative;
    div {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    &:before {
        content: '';
        background: none;
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.selected-lock {
    position: relative;
    div {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    &:before {
        content: '';
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.owl-carousel {
    width: 90%;
    height: 15px;
    position: fixed;
}

.owl-stage-outer {
    height: 19px;
    // width: 80%;
    width: 1500px;
}

.owl-stage {
    // width: 80%;
    width: 105%;
}

.owl-nav {
    width: 40px;
    position: fixed;
    top: 42px;
    right: 0px;
    height: 23px;
    background-color: white;
}

.owl-item {
    // width: max-content;
    position: fixed;
    white-space: nowrap;
}

//menu country
.colum-country {
    cursor: pointer;
    .block1 {
        background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: relative;
        text-align: left;
        overflow-x: hidden;
        height: 90px;
        .list {
            position: relative;
        }
        .list img {
            margin-right: 5px;
        }
        .list:first-child .list-item {
            margin-left: 5px;
        }
        .list-item {
            margin-left: 25px;
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.crm-input {
    .colum-country {
        .country-btn {
            .list-item img {
                position: relative;
                left: 0px;
            }
            .list-item {
                text-align: center;
                line-height: 18px;
                span {
                    position: relative;
                    bottom: 3px;
                }
            }
        }
    }
}

//menu country
//menu delivery
.colum-delivery {
    cursor: pointer;
    .block1 {
        background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: relative;
        text-align: left;
        height: 90px;
        overflow-x: hidden;
        z-index: 2222;
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
        }
        .list img {
            margin-right: 5px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
    }
}

.crm-input {
    .colum-delivery {
        .delivery-btn {
            .list-item img {
                position: relative;
                left: 0px;
                bottom: -2px;
                width: 12px;
                height: 12px;
            }
            .list-item {
                text-align: center;
                line-height: 18px;
                span {
                    position: relative;
                    bottom: -1px;
                }
            }
        }
    }
}

//menu delivery
//meny pay
.crm-input {
    .colum-pay {
        .pay-btn {
            .list-item img {
                position: relative;
                left: 0px;
                bottom: -2px;
                width: 12px;
                height: 12px;
            }
            .list-item {
                text-align: center;
                line-height: 18px;
                span {
                    position: relative;
                    bottom: -1px;
                }
            }
        }
    }
}

.colum-pay {
    cursor: pointer;
    .block1 {
        background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: relative;
        text-align: center;
        height: 90px;
        overflow-x: hidden;
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
        }
        .list img {
            margin-right: 5px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
    }
}

//menu pay
//menu depart
.colum-depart {
    cursor: pointer;
    .block1 {
        background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: relative;
        text-align: left;
        height: 90px;
        overflow-x: hidden;
        .list {
            position: relative;
        }
        .list img {
            margin-right: 5px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.crm-input {
    .colum-depart {
        .depart-btn {
            .list-item img {
                position: relative;
                left: 0px;
            }
            .list-item {
                text-align: center;
                line-height: 18px;
                span {
                    position: relative;
                }
            }
        }
    }
}

//menu depart
//menu employe
.colum-employe {
    cursor: pointer;
    .block1 {
        background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: relative;
        text-align: left;
        height: 90px;
        overflow-x: hidden;
        .list {
            position: relative;
        }
        .list img {
            margin-right: 5px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.crm-input {
    .colum-employe {
        .employe-btn {
            .list-item img {
                position: relative;
                left: 0px;
            }
            .list-item {
                text-align: center;
                line-height: 18px;
                span {
                    position: relative;
                }
            }
        }
    }
}

//menu employe
.block1.toggle {
    display: block;
}

.z-index {
    z-index: -1;
}

#hoverSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    background: #515151;
    color: white;
    border-radius: 3px;
    z-index: 999;
    display: none;
}

// .active {
//     background-color: #337ab7;
// }