.modul-block {
    width: 290px;
    height: 330px;
    z-index: 22;
    background: rgba(81, 81, 81, 0.7);
    box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    position: absolute;
    color: white;
    visibility: hidden;
    top: 51px;
    right: -400px;
    transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

.modul-toggle {
    visibility: visible;
    right: 25px;
    transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}