@import '_adaptive';
.container-info-settings {
    margin-left: 51px;
    margin-top: 5px;
    margin-right: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    @include breakpoint (md) {
        margin-left: 30px;
    }
    // .simplebar-track.simplebar-vertical {
    //     background-color: transparent;
    //     width: 8px;
    //     margin-right: 0;
    //     margin-top: 0;
    //     margin-bottom: 40px;
    //     cursor: pointer;
    // }
    // .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    //     background: rgba(0, 0, 0, 0.3);
    //     width: 8px;
    //     border-radius: 5px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     top: 0;
    //     cursor: pointer;
    // }
    // .simplebar-track.simplebar-horizontal {
    //     background-color: transparent;
    //     height: 8px;
    //     margin-right: 10px;
    //     margin-bottom: 40px;
    //     margin-left: 20px;
    //     cursor: pointer;
    //     padding-top: 2px;
    //     bottom: 0;
    //     border-radius: 10px;
    //     // top: -2px;
    // }
    // .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
    //     background: rgba(0, 0, 0, 0.3);
    //     border-radius: 10px;
    //     height: 8px;
    //     left: 0;
    //     right: 0;
    //     bottom: 38px;
    //     top: 0px;
    //     cursor: pointer;
    //     margin-bottom: 2px;
    // }
    // .simplebar-scrollbar.simplebar-visible:before {
    //     opacity: 1;
    //     cursor: pointer;
    // }
    // .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    //     height: 10px;
    // }
    // .simplebar-content-wrapper {
    //     padding-right: 15px;
    //     padding-left: 15px;
    //     padding-bottom: 30px;
    // }
}

// .crm-table {
//     overflow: scroll;
// }
// .active {
//    transform:scale(1.01);
//    .crm-header {
//        opacity: 0;
//    }
//    .arrow-bg {
//        opacity: 0;
//    }
// }
// .crm-header {
//     -ms-overflow-style: none;
//     /* IE 10+ */
//     scrollbar-width: none;
//     /* Firefox */
// }
// .crm-header::-webkit-scrollbar {
//     /* chrome based */
//     width: 0px;
//     height: 0px;
//     /* ширина scrollbar'a */
//     background: transparent;
//     /* опционально */
// }
.crm-header {
    display: flex;
    margin: 0;
    // position: fixed;
    // padding-bottom: 5px;
    top: -5px;
    padding-top: 5px;
    position: relative;
    z-index: 333;
    background-color: white;
    // overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding-right: 20px;
    // margin-left: 15px;
    // &:before {
    //     content: '';
    //     background-color: white;
    //     width: 15px;
    //     height: 40px;
    //     top: 0px;
    //     left: -15px;
    //     position: absolute;
    // }
    // .crm-header-link:last-child {
    //     margin-right: 180px;
    // }
    .crm-header-link {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        // white-space: nowrap;
        position: relative;
        text-align: center;
        margin: 1px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;
        .count-link {
            font-size: 10px;
            opacity: 0.5;
        }
    }
}

.scroll-wrap {
    // overflow: auto;
    height: 95%;
    .simplebar-track.simplebar-vertical {
        background-color: transparent;
        width: 8px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 40px;
        cursor: pointer;
    }
    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        width: 8px;
        border-radius: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        cursor: pointer;
    }
    .simplebar-track.simplebar-horizontal {
        background-color: transparent;
        height: 8px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 20px;
        cursor: pointer;
        padding-top: 2px;
        bottom: 0;
        border-radius: 10px;
        // top: -2px;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 8px;
        left: 0;
        right: 0;
        bottom: 8px;
        top: 0px;
        cursor: pointer;
        margin-bottom: 2px;
    }
    .simplebar-scrollbar.simplebar-visible:before {
        opacity: 1;
        cursor: pointer;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
        height: 10px;
    }
    .simplebar-content-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media screen and (max-height: 800px) {
    // .container-info-settings {
    //     .simplebar-track.simplebar-horizontal {
    //         margin-bottom: 60px;
    //     }
    // }
    .scroll-wrap {
        .simplebar-track.simplebar-horizontal {
            margin-bottom: 30px;
        }
    }
}

.scroll-wrap2 {
    .simplebar-track.simplebar-vertical {
        background-color: transparent;
        width: 0px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0px;
        cursor: pointer;
    }
    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        width: 0px;
        border-radius: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        cursor: pointer;
    }
    .simplebar-track.simplebar-horizontal {
        background-color: transparent;
        height: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        cursor: pointer;
        padding-top: 0px;
        bottom: 0;
        border-radius: 10px;
        // top: -2px;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 0px;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 0px;
        cursor: pointer;
        margin-bottom: 2px;
    }
    .simplebar-scrollbar.simplebar-visible:before {
        opacity: 1;
        cursor: pointer;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
        height: 10px;
    }
    .simplebar-content-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 0px;
        // padding-top: 5px;
        width: calc(100% - 40px);
    }
}

.color-64a727 {
    background-color: #64a727;
}

.color-515151 {
    background-color: rgba(81, 81, 81, 0.7);
}

.color-C4C4C4 {
    background-color: #C4C4C4;
}

.color-83004F {
    background-color: #83004F;
}

// .color-515151 {
//     background-color: #515151;
// }
.color-91d100 {
    background-color: #91d100;
}

.color-C94F62 {
    background-color: #C94F62;
}

.color-fd7777 {
    background-color: #fd7777;
}

.color-9C02A7 {
    background-color: #9C02A7;
}

.color-1DD787 {
    background-color: #1DD787;
}

.color-00CC00 {
    background-color: #00CC00;
}

.color-00B9FF {
    background-color: #00B9FF;
}

.color-ffe600 {
    // background-color: #ffe600;
    background-color: #d4c72a;
}

.color-FF0000 {
    background-color: #FF0000;
}

.color-FFCF00 {
    background-color: #FFCF00;
}

.color-91D100 {
    background-color: #91D100;
}

.color-da291c {
    background-color: #da291c;
}

.color-6996D3 {
    background-color: #6996D3;
}

.color-3415B0 {
    background-color: #3415B0;
}

.color-B0FF00 {
    background-color: #B0FF00;
}

.color-470010 {
    background-color: #470010;
}

.color-9C02A7 {
    background-color: #9C02A7;
}

// .color-515151 {
//     background-color: #515151;
// }
// .color-91d100 {
//     background-color: #91d100;
// }
// .color-fd7777 {
//     background-color: #fd7777;
// }
// .color-ffe600 {
//     background-color: #ffe600;
// }
// .color-00CC00 {
//     background-color: #00CC00;
// }
.color-form {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    border-radius: 2px;
    left: 0;
    opacity: 0.75;
}

.btn-toggle {
    font-weight: 600;
    position: relative;
    .color-form {
        height: 4px;
        bottom: 2px;
    }
}

.arrow-bg {
    background-color: white;
    height: 25px;
    width: 40px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2222;
    .arrow-next {
        width: 13px;
        height: 13px;
        background-image: url('../img/arrow-down.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(-90deg);
        opacity: 0.7;
        left: 20px;
        cursor: pointer;
    }
    .arrow-prev {
        width: 13px;
        height: 13px;
        background-image: url('../img/arrow-down.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(90deg);
        opacity: 0.7;
        cursor: pointer;
    }
}

.crm-table {
    margin-top: 0px;
    z-index: 888;
    // position: relative;
    // top: -10px;
}

// .s10 {
//     overflow: hidden;
// }
//ZOOM
// .crm-table {
//     zoom: 130%;
//     margin-top: 20px;
//     // transform: scale(1.3);
//     // transform: translate(0px 20px);
// }
// .crm-header {
//     zoom: 130%;
// }
// @media (min-width: 1680px) {
//     .crm-table {
//         zoom: 120%;
//     }
//     @-moz-document url-prefix() {
//         .crm-table {
//             transform: scale(1.2);
//             transform-origin: left top;
//             width: calc(100% / 1.2);
//             height: calc(100% / 1.2);
//         }
//     }
// }
//ZOOM
.container-info-settings {
    tr td {
        white-space: nowrap;
        height: 18px;
        line-height: 14px;
        // text-align: center;
        .input-style {
            background: rgb(212, 212, 212);
            outline: none;
            border: 1px white solid;
            width: 100%;
            box-sizing: border-box;
            padding: 1px 3px;
            // opacity: 0;
            font-size: 10px;
            line-height: 14px;
            &::placeholder {
                font-size: 10px;
            }
        }
        .message-box {
            display: flex;
            justify-content: space-between;
        }
        .count-message {
            background: rgba(156, 155, 158, 0.4);
            // border: 1px white solid;
            box-sizing: border-box;
            position: relative;
            // left: -2px;
            width: 18%;
            cursor: pointer;
            text-align: left;
            border-right: 2px white solid;
            // border-left: none;
            // border-left: 3px white solid;
            // height: 17px;
            // &::placeholder {
            //     content: '';
            //     position: absolute;
            //     background-image: url('../img/arrow-down.svg');
            //     width: 6px;
            //     height: 3px;
            //     background-size: 100%;
            //     top: 7px;
            //     right: -4px;
            // }
        }
        .message-btn {
            position: relative;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                background-image: url('../img/arrow-down.svg');
                width: 6px;
                height: 3px;
                background-size: 100%;
                top: 7px;
                right: 4px;
                opacity: 0.8;
                z-index: 22;
            }
        }
        .message-menu {
            display: none;
            z-index: 3;
            box-shadow: 4px 4px 9px rgb(0, 0, 0, 0.15);
            cursor: pointer;
            position: absolute;
            width: 25px;
            text-align: center;
            background-color: white;
            right: 0;
            top: 18px;
            height: 90px;
            .simplebar-track.simplebar-vertical {
                background-color: rgba(0, 0, 0, 0.1);
                width: 3px;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-right: 2px;
                bottom: 0;
                border-radius: 5px;
            }
            .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
                background: rgba(0, 0, 0, 0.3);
                width: 3px;
                border-radius: 5px;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
            .simplebar-scrollbar.simplebar-visible:before {
                opacity: 1;
            }
            .simplebar-content-wrapper {
                padding: 0;
            }
            .message-list {
                position: relative;
                // &:hover:before {
                //     content: '';
                //     width: 4px;
                //     height: 4px;
                //     top: 4px;
                //     left: 2px;
                //     border-radius: 100%;
                //     position: absolute;
                //     background-color: rgb(120, 120, 133);
                // }
                .all {
                    width: 100%;
                    display: inline-block;
                }
                &:hover .message-link {
                    color: rgba(0, 0, 0, 0.5);
                }
                input {
                    outline: none;
                    border: none;
                }
            }
            // .message-list:first-child:hover:before {
            //     background-color: transparent;
            // }
            .select-btn:before {
                top: 4px;
                left: 2px;
            }
            .select-btn-static:before {
                top: 4px;
                left: 2px;
            }
        }
        .count-toggle {
            display: block;
        }
        .tel-style {
            width: 83%;
            // border-right: none;
        }
        .date-block {
            background: rgba(156, 155, 158, 0.4);
            padding: 0 3px;
            border: 1px white solid;
            min-width: 113px;
            justify-content: space-between;
            display: flex;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
            line-height: 16px;
            .date-style {
                width: 50px;
                text-align: center;
                border: none;
                font-size: 9px;
                background-color: transparent;
                color: rgba(0, 0, 0, 0.5);
                padding: 0;
            }
            // .date-style:nth-child(2) {
            //     padding-right: 0px;
            //     padding-left: 0px;
            // }
            // .date-style:nth-child(1) {
            //     padding-left: 0px;
            //     padding-right: 0px;
            // }
        }
    }
}

.date-block {
    text-align: center;
}

.ttn-search {
    background: rgba(156, 155, 158, 0.4);
    outline: none;
    border: 1px white solid;
    width: 100%;
    box-sizing: border-box;
    // padding: 1px 3px;
    // opacity: 0;
    font-size: 10px;
    line-height: 14px;
    .ttn-style {
        width: 12%;
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        line-height: 16px;
        box-sizing: border-box;
        padding-left: 3px;
    }
    .ttn-style:first-child {
        width: 86%;
        border-right: 2px solid white;
    }
}

// .date-block {
//     text-align: center;
// }
table {
    border-collapse: collapse;
    tr {
        td {
            width: max-content;
            padding: 0px 4px;
            font-size: 12px;
        }
        td:nth-child(odd) {
            background-color: #F1F1F1;
        }
    }
}

tr th {
    white-space: nowrap;
    &:nth-child(odd) {
        background-color: #F1F1F1;
    }
    padding: 2.5px 4px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px 3px 0 0;
    padding-top: 7px;
}

// .color-bg {
//     background-color: #F1F1F1;
// }
.header-search {
    padding: 0;
    font-size: 10px;
    height: 18px;
    position: relative;
    box-sizing: border-box;
}

.table-header {
    height: 24px;
    cursor: grab;
}

.crm-input {
    height: 18px;
}

.crm-main-table {
    height: 19px;
    .country-block {
        text-align: center;
        position: relative;
    }
    .country-flag {
        text-align: center;
        box-sizing: border-box;
        height: 18px;
        position: relative;
        top: 2px;
        .flag {
            height: 13px;
        }
    }
    .svg-position {
        position: relative;
        top: 2px;
        img {
            height: 15px;
        }
        .samovivoz path {
            fill: #515151;
        }
    }
    .tel-colum {
        justify-content: space-between;
        width: inherit;
        display: flex;
        height: 19px;
        .svg-wrap {
            display: inline-block;
            .count {
                top: -2px;
                // line-height: 8px;
                // text-align: center;
            }
        }
    }
    .tel {
        // margin-right: 5px;
        text-align: center;
        line-height: 16px;
        display: inline-block;
        position: relative;
        .mob-icon {
            position: relative;
            top: 2px;
            margin-right: 5px;
            height: 13px;
        }
    }
    .svg-wrap {
        margin-left: 5px;
        position: relative;
        margin-right: 3px;
        top: 2px;
        // display: inline-block;
        .count {
            position: absolute;
            border-radius: 100%;
            font-size: 7px;
            width: 8px;
            height: 8px;
            font-weight: 600;
            background-color: #9C9B9E;
            color: white;
            text-align: center;
            right: -3px;
            line-height: 9px;
            top: -5px;
            border: 1.28571px solid #F1F1F1;
        }
    }
    .product-colum {
        text-align: center;
        position: relative;
        top: -1px;
        .svg-wrap {
            margin-left: 3px;
            margin-right: 8px;
            position: relative;
            top: 4px;
            // display: none;
            .count {
                right: -2px;
                border: 1.28571px solid #F1F1F1;
            }
        }
    }
    .colum-pay {
        text-align: center;
    }
    .ttn-block {
        .ttn-position {
            justify-content: space-between;
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .ttn-number {
            display: inline-block;
            text-align: left;
        }
        .svg-wrap {
            margin-left: 3px;
            margin-right: 3px;
            display: inline-block;
            .count {
                right: -4px;
                top: -3px;
            }
        }
    }
}

//hover lock
.crm-main-table.select-toggle:hover {
    position: relative;
    color: white;
    td {
        background-color: rgba(81, 81, 81, 0.7);
    }
}

.crm-main-table.selected-lock:hover {
    position: relative;
    td {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    .id-table:before {
        content: '';
        background: none;
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.select-toggle {
    position: relative;
    // img {
    //     opacity: 0.5;
    // }
    img {
        opacity: 0.5;
    }
    td:nth-child(odd) {
        background-color: rgba(81, 81, 81, 0.7);
    }
    td {
        color: white;
        background-color: rgba(81, 81, 81, 0.7);
    }
    .np-ico path {
        opacity: 0.5;
    }
    .cls-2 {
        opacity: 0.5;
    }
    .date-time {
        color: white;
    }
    .svg-convert path {
        // fill: white;
        stroke: #F1F1F1;
    }
    .svg-wrap .count {
        background: #F1F1F1;
        color: #515151;
        border: 1.28571px solid rgba(81, 81, 81, 0.7);
    }
    .product-colum {
        .svg-wrap path {
            fill: #F1F1F1;
        }
        .svg-wrap .count {
            background: #F1F1F1;
            border: 1.28571px solid rgba(81, 81, 81, 0.7);
        }
    }
    .card path {
        fill: #F1F1F1;
    }
    .coin path {
        fill: #F1F1F1;
    }
    .coin circle {
        stroke: #F1F1F1;
    }
    .convert-pay path {
        fill: #F1F1F1;
    }
    .svg-decline path {
        stroke: #F1F1F1;
    }
    .svg-trade path {
        stroke: #F1F1F1;
    }
    .svg-box path {
        fill: #F1F1F1;
    }
    .svg-box-day path {
        fill: #F1F1F1;
    }
    .id-table:before {
        content: '';
        width: 7px;
        height: 19px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
        top: 0;
    }
}

.selected-lock {
    position: relative;
    td {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    td:nth-child(odd) {
        background: rgba(198, 193, 190, 0.5);
    }
    img {
        opacity: 0.5;
    }
    .np-ico path {
        opacity: 0.5;
    }
    .cls-2 {
        opacity: 0.5;
    }
    .svg-wrap .count {
        border: 1.28571px solid #d8d8d8;
    }
    .id-table:before {
        content: '';
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
    .date-time {
        color: rgb(197, 191, 191);
    }
}

// для firefox
.id-table {
    position: relative;
}

// для firefox
.crm-main-table:hover {
    position: relative;
    td {
        background: rgba(81, 81, 81, 0.3);
    }
    .id-table:before {
        content: '';
        width: 7px;
        height: 19px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
        top: 0;
    }
}

.crm-main-table {
    .status-table {
        text-align: center;
        .color-form2 {
            text-align: left;
            line-height: 14px;
            box-sizing: border-box;
            border-radius: 3px;
            color: white;
            opacity: 0.75;
            padding: 0.5px 6px;
            margin: 0 3px;
            z-index: 22;
        }
    }
}

//новый заказ
.new-order {
    position: relative;
}

.new-orders:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #00B9FF;
    position: absolute;
    left: -11px;
    top: 8px;
}

//новый заказ
// .another {
//     position: relative;
// }
// .another:after {
//     content: '';
//     width: 4px;
//     height: 4px;
//     border-radius: 100%;
//     background-color: #00B9FF;
//     position: absolute;
//     left: -11px;
//     top: 8px;
// }
//новый заказ
// @keyframes new-zakaz {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
//hover lock
//цветаs
.color-928c42 {
    background-color: #928c42;
}

.color-470010 {
    background-color: #470010;
}

.color-83004F {
    background-color: #83004F;
}

.color-C94F62 {
    background-color: #C94F62;
}

.color-9C02A7 {
    background-color: #9C02A7;
}

.color-1DD787 {
    background-color: #1DD787;
}

.color-00CC00 {
    background-color: #00CC00;
}

.color-00B9FF {
    background-color: #00B9FF;
}

.color-FF0000 {
    background-color: #FF0000;
}

.color-FFCF00 {
    background-color: #FFCF00;
}

.color-91D100 {
    background-color: #91D100;
}

.color-F50296 {
    background-color: #F50296;
}

.color-6996D3 {
    background-color: #6996D3;
}

.color-3415B0 {
    background-color: #3415B0;
}

.color-B0FF00 {
    background-color: #B0FF00;
}

//цвета
//BTN header
.status-table {
    position: relative;
    box-sizing: border-box;
    .status-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        // width: 100%;
        .input-btn {
            background: transparent;
            outline: none;
            border: none;
            width: 100%;
            color: rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            padding: 0;
            padding-right: 15px;
            // opacity: 0;
            font-size: 10px;
            line-height: 14px;
            &::placeholder {
                font-size: 10px;
            }
        }
        .color-form {
            bottom: -3px;
        }
        // .color-form {
        //     bottom: 4px;
        // }
        .list-item {
            // width: 100%;
            // height: 100%;
            position: relative;
            height: 12px;
            display: inline-block;
        }
        .status-text {
            display: inline-block;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    // .block1 .list-status:hover .all span {
    //     opacity: 0.5;
    // }
    .list-status:hover .status-text {
        color: rgba(0, 0, 0, 0.5);
    }
    .block1 {
        background: white;
        z-index: 3;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        overflow-x: hidden;
        // text-overflow: ellipsis;
        height: 90px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        width: 100%;
        .status-text {
            display: inline-block;
        }
        .select-btn:before {
            left: 6px;
            top: 4px;
        }
        .select-btn-static:before {
            left: -9px;
            top: 4px;
        }
        .all {
            width: 100%;
            display: block;
        }
        .color-form {
            bottom: -2px;
        }
        // .color-form {
        //     bottom: -2px;
        // }
        // .list-status:hover span:nth-child(2) {
        //     opacity: 0.5;
        // }
        .list-status span:nth-child(2) {
            display: inline-block;
            height: 14px;
        }
        .list-item {
            // width: 100%;
            // height: 100%;
            position: relative;
            left: 15px;
            height: 12px;
            display: inline-block;
        }
        .list-status {
            height: 18px;
            position: relative;
            margin-right: 10px;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.colum-country {
    position: relative;
    box-sizing: border-box;
    .country-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        .list-item img {
            position: absolute;
            left: 15px;
            height: 10px;
            top: 3px;
        }
        .list-item span:first-child {
            margin-left: 0;
        }
        .list-item span {
            margin-left: 23px;
        }
        .list {
            height: 14px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    // .filter {
    //     display: block;
    //     margin-left: 16px;
    // }
    // .block1 .list:hover:before {
    //     background-color: rgb(120, 120, 133);
    //     content: '';
    //     width: 4px;
    //     height: 4px;
    //     position: absolute;
    //     border-radius: 100%;
    //     top: 4px;
    //     // left: -2px;
    //     left: 7px;
    // }
    .block1 .list:hover img {
        opacity: 0.5;
    }
    .block1 .list:hover .all span {
        opacity: 0.5;
    }
    .block1 {
        background: white;
        z-index: 3;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        // overflow-x: hidden;
        height: 90px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        // width: 55px;
        width: 100%;
        // overflow: hidden;
        // overflow-y: auto;
        // overflow-x: hidden;
        // overflow: auto;
        // -ms-overflow-style: none;
        /* IE 10+ */
        // scrollbar-width: none;
        /* Firefox */
        // &::-webkit-scrollbar {
        //     /* chrome based */
        //     width: 0px;
        //     height: 0px;
        //     /* ширина scrollbar'a */
        //     background: transparent;
        //     /* опционально */
        // }
        .select-btn:before {
            left: 7px;
            top: 4px;
        }
        .all {
            width: 100%;
            display: block;
        }
        .list-item img {
            // position: absolute;
            // left: 5px;
            display: block;
            margin: auto;
        }
        .list-item span {
            // margin-left: 27px;
            // text-align: center;
        }
        .list-item {
            width: 100%;
            height: 100%;
        }
        .list {
            height: 18px;
            // line-height: 18px;
            // margin-left: 5px;
            text-align: center;
            position: relative;
        }
        .list:first-child span {
            // padding-left: 3px;
            margin-left: 0;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.colum-pay {
    position: relative;
    box-sizing: border-box;
    .pay-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        .list-item svg {
            margin-right: 5px;
            width: 14px;
            height: 14px;
            top: 1px;
            position: relative;
            margin-left: 16px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    // .block1 .list:hover:before {
    //     background-color: rgb(120, 120, 133);
    //     content: '';
    //     width: 6px;
    //     height: 6px;
    //     position: absolute;
    //     border-radius: 100%;
    //     left: 7px;
    //     top: 4px;
    // }
    .block1 .list:hover svg {
        opacity: 0.5;
    }
    .block1 .list:hover .all span {
        opacity: 0.5;
    }
    // .block1 .list:hover:after {
    //     background-color: rgb(120, 120, 133);
    //     content: '';
    //     width: 2px;
    //     height: 12px;
    //     position: absolute;
    //     // border-radius: 100%;
    //     left: 0px;
    //     top: 2px;
    // }
    .block1 {
        background: white;
        z-index: 3;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        overflow-x: hidden;
        height: 90px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        width: 100%;
        .select-btn:before {
            left: 7px;
            top: 4px;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 18px;
        }
        .list img {
            margin-right: 5px;
            width: 12px;
            height: 12px;
            position: relative;
            top: 2px;
        }
        .list-item {
            width: 100%;
            box-sizing: border-box;
            display: block;
            text-align: center;
        }
    }
}

.colum-delivery {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .delivery-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        // min-width: 100px;
        padding-right: 10px; // dlya strelki
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    .block1 .list:hover:before {
        background-color: rgb(120, 120, 133);
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 100%;
        top: 5px;
        left: 3px;
    }
    .select-btn-static:before {
        top: 5px;
        left: 3px;
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        // overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 4px;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-track.simplebar-horizontal {
            background-color: rgba(0, 0, 0, 0.1);
            height: 3px;
            border-radius: 5px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 2px;
            padding-top: 0;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            height: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            top: 0;
            margin: 0;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
            height: 3px;
            left: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list:last-child {
            margin-bottom: 5px;
        }
        .list img {
            width: 11px;
            height: 11px;
            position: absolute;
            top: 1px;
        }
        .list-item span {
            margin-left: 15px;
            margin-right: 10px;
        }
        .svg-position .samovivoz {
            width: 11px;
            height: 11px;
            position: absolute;
            top: 2px;
        }
        span.svg-position {
            margin-left: 0;
        }
        .samovivoz path {
            fill: #515151;
        }
        .list-item {
            margin-left: 10px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
}

.colum-employe {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .employe-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        // width: 100%;
        padding-right: 10px; // dlya strelki
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        // overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-track.simplebar-horizontal {
            background-color: rgba(0, 0, 0, 0.1);
            height: 3px;
            border-radius: 5px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 2px;
            padding-top: 0;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            height: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            top: 0;
            margin: 0;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
            height: 3px;
            left: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list-item span {
            margin-right: 10px;
        }
        .list:last-child {
            margin-bottom: 5px;
        }
        .list img {
            margin-right: 5px;
            width: 11px;
            height: 11px;
            position: relative;
            top: 2px;
        }
        .list-item {
            margin-left: 10px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
    .block1 .list:hover:before {
        background-color: rgb(120, 120, 133);
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 100%;
        top: 5px;
        left: 3px;
    }
}

.colum-depart {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .depart-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        min-width: 110px;
        padding-right: 10px; // dlya strelki
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.8;
        }
    }
    .block1 .list:hover:before {
        background-color: rgb(120, 120, 133);
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 100%;
        top: 5px;
        left: 3px;
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list-item {
            margin-left: 10px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
}

// .z-index {
//     z-index: -1;
//     position: relative;
// }
.block1.toggle {
    display: block;
}

.list {
    position: relative;
}

.select-btn:before {
    content: '';
    width: 4px;
    height: 4px;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(120, 120, 133);
}

.select-btn-static:before {
    content: '';
    width: 4px;
    height: 4px;
    left: 7px;
    top: 4px;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(120, 120, 133);
}

//BTN header
// hover header
.wrap-hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    bottom: -18px;
    position: relative;
}

.wrap-open {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    bottom: 0;
}

.svg-delivery {
    text-align: center;
}

.date-time {
    font-size: 10px;
    color: #7b7b7b;
    margin-left: 4px;
    text-align: center;
}

.colum-sum {
    text-align: right;
}

//TOOLTIP OLD
// .tooltip:hover:before {
//     opacity: 1;
//     visibility: visible;
//     top: 22px;
//     z-index: 999;
//     transition: 0.3s;
//     -moz-transition: 0.3s;
//     -webkit-transition: 0.3s;
//     transition-delay: .3s;
//     -moz-transition-delay: 0.3s;
//     -webkit-transition-delay: 0.3s;
// }
// .country-block:hover .tooltip {
//     visibility: visible;
//     opacity: 1;
//     top: 22px;
//     z-index: 999;
//     transition: 0.3s;
//     -moz-transition: 0.3s;
//     -webkit-transition: 0.3s;
//     transition-delay: .3s;
//     -moz-transition-delay: 0.3s;
//     -webkit-transition-delay: 0.3s;
// }
// .tooltip:hover {
//     visibility: hidden !important;
// }
// .tooltip:before {
//     content: attr(data);
//     position: absolute;
//     right: -40%;
//     width: max-content;
//     user-select: none;
//     height: 20px;
//     background-color: rgba(81, 81, 81, 0.6);
//     border-radius: 3px;
//     top: 0;
//     color: white;
//     padding-top: 4px;
//     padding-left: 5px;
//     padding-right: 5px;
//     z-index: 999;
//     // transition: 0.2s;
//     // -moz-transition: 0.2s;
//     // -webkit-transition: 0.2s;
//     // transition-delay: .2s;
//     // -moz-transition-delay: 0.2s;
//     // -webkit-transition-delay: 0.2s;
//     opacity: 0;
//     visibility: hidden;
//     backdrop-filter: blur(4px);
// }
//TOOLTIP OLD
//TOOLTIP NEW
.tel:hover .tooltip,
.max-lenght-comment:hover .tooltip,
.country-block:hover .tooltip,
.svg-wrap:hover .tooltip,
.max-lenght:hover .tooltip,
.max-lenght-product:hover .tooltip,
.addres-block:hover .tooltip,
.status-table:hover .tooltip,
.colum-pay:hover .tooltip,
.svg-delivery:hover .tooltip,
th:hover .tooltip,
.date-time:hover .tooltip {
    visibility: visible;
    opacity: 1;
    top: 22px;
    z-index: 999 !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

th:hover .tooltip {
    top: 27px;
    left: 0px;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

.filter {
    animation: circle 2s infinite linear;
}

// .filter path {
//     animation: suka 2s infinite;
// }
// @keyframes suka {
//     0% {
//         stroke: rgb(81, 81, 81);
//     }
//     50% {
//         stroke: black;
//     }
//     0% {
//         stroke: rgb(81, 81, 81);
//     }
// }
@keyframes circle {
    from {
        transform: rotate(360deg);
    }
}

// .list:hover .tooltip {
//     visibility: visible;
//     opacity: 1;
//     top: 22px;
//     transition: 0.3s;
//     -moz-transition: 0.3s;
//     -webkit-transition: 0.3s;
//     transition-delay: .3s;
//     -moz-transition-delay: 0.3s;
//     -webkit-transition-delay: 0.3s;
//     z-index: 999 !important;
// }
.tooltip:hover {
    visibility: hidden !important;
}

.svg-wrap .tooltip {
    right: auto;
}

.tooltip {
    // content: attr(data);
    position: absolute;
    // right: -40%;
    user-select: none;
    max-height: 100px;
    background-color: rgba(81, 81, 81, 0.6);
    border-radius: 3px;
    top: 0;
    color: white;
    padding: 4px 5px;
    z-index: 999 !important;
    // width: max-content;
    // max-width: max-content;
    white-space: normal;
    // max-width: 200px;
    width: max-content;
    // word-break: break-all;
    word-break: break-word;
    text-align: left;
    max-width: 300px;
    // transition: 0.2s;
    // -moz-transition: 0.2s;
    // -webkit-transition: 0.2s;
    // transition-delay: .2s;
    // -moz-transition-delay: 0.2s;
    // -webkit-transition-delay: 0.2s;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(4px);
}

.table-header th:last-child .tooltip {
    left: -235%;
}

#hoverSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    background: #515151;
    color: white;
    border-radius: 3px;
    z-index: 999;
    display: none;
}

#tooltipBtn {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    max-height: 100px;
    background-color: transparent;
    background-color: rgba(81, 81, 81, 0.6);
    border-radius: 3px;
    top: 0;
    left: 0;
    // right: 0;
    font-size: 12px;
    color: white;
    padding: 4px 5px;
    // animation: open 0.3s;
    // transition: 0.2s;
    // transition-delay: 0.2s;
    // transition-delay: 0.2s;
    // transition: 0.2s;
    // transition-delay: 0.1s;
    z-index: 999 !important;
    // width: max-content;
    // max-width: max-content;
    white-space: normal;
    // max-width: 200px;
    width: max-content;
    // transition: 0.2s;
    // word-break: break-all;
    word-break: break-word;
    text-align: left;
    max-width: 300px;
    // transition: 0.2s;
    // .lazyBlock {
    //     width: 100%;
    //     height: 100%;
    //     position: relative;
    //     // top: -22px;
    //     // transition-delay: 0.3s;
    //     // transition: top 0.3s;
    //     // transition: all 0.3s;
    //     padding: 4px 5px;
    //     border-radius: 3px;
    //     // opacity: 0;
    //     width: max-content;
    //     background-color: rgba(81, 81, 81, 0.6);
    // }
    backdrop-filter: blur(4px);
}

// @keyframes open {
//     0% {
//         opacity: 0;
//     }
//     20% {
//         opacity: 0;
//     }
//     40% {
//         opacity: 0.4;
//     }
//     80% {
//         opacity: 0.8;
//     }
//     100% {
//         opacity: 1;
//     }
// }
.text-tooltip {
    // font-size: 12px;
    // span {
    font-size: 12px;
    display: block;
    margin-top: 7px;
    // padding-top: 12px;
    // }
}

#hoverSelected-lock {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    // transition: 0.2s;
    user-select: none;
    max-height: 100px;
    // background-color: transparent;
    background-color: rgba(81, 81, 81, 0.6);
    border-radius: 3px;
    top: 0;
    left: 0;
    font-size: 12px;
    color: white;
    padding: 4px 5px;
    // transition-delay: 0.2s;
    // transition: 0.2s;
    // transition-delay: 0.1s;
    z-index: 999 !important;
    // width: max-content;
    // max-width: max-content;
    white-space: normal;
    // max-width: 200px;
    width: max-content;
    // transition: 0.2s;
    // word-break: break-all;
    word-break: break-word;
    text-align: left;
    max-width: 300px;
    backdrop-filter: blur(4px);
}

// .max-lenght-comment,
// .max-lenght-product,
// .max-lenght-status,
// .max-lenght,
// .addres-block,
// .tel-colum,
// .country-block,
// .tel,
// .svg-wrap {
//     position: relative;
// }
.crm-main-table td {
    position: relative;
}

.table-header th {
    position: relative;
}

//TOOLTIP NEW