@import '_adaptive';
.container-info-settings {
    margin-left: 62px;
    margin-top: 35px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    @include breakpoint (md) {
        margin-left: 30px;
    }
    .simplebar-track.simplebar-vertical {
        background-color: transparent;
        width: 8px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 40px;
        cursor: pointer;
    }
    .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        width: 8px;
        border-radius: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        cursor: pointer;
    }
    .simplebar-track.simplebar-horizontal {
        background-color: transparent;
        height: 8px;
        margin-right: 10px;
        margin-bottom: 40px;
        margin-left: 20px;
        cursor: pointer;
        padding-top: 2px;
        bottom: 0;
        border-radius: 10px;
        // top: -2px;
    }
    .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 10px;
        left: 0;
        right: 0;
        bottom: 38px;
        top: 0px;
        cursor: pointer;
        margin-bottom: 2px;
    }
    .simplebar-scrollbar.simplebar-visible:before {
        opacity: 1;
        &:hover {
            cursor: pointer;
        }
    }
    .simplebar-content-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media screen and (max-height: 800px) {
    .container-info-settings {
        .simplebar-track.simplebar-horizontal {
            margin-bottom: 60px;
        }
    }
}

.crm-header {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.crm-header::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}

.crm-header {
    display: flex;
    margin: 0;
    position: fixed;
    padding-bottom: 5px;
    top: 60px;
    z-index: 333;
    background-color: white;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding-right: 20px;
    // &:before {
    //     content: '';
    //     background-color: white;
    //     width: 15px;
    //     height: 40px;
    //     top: 0px;
    //     left: -15px;
    //     position: absolute;
    // }
    .crm-header-link:last-child {
        margin-right: 180px;
    }
    .crm-header-link {
        padding-left: 10px;
        padding-right: 10px;
        // white-space: nowrap;
        position: relative;
        text-align: center;
        margin: 1px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;
        .count-link {
            font-size: 10px;
            opacity: 0.5;
        }
        .color-C4C4C4 {
            background-color: #C4C4C4;
        }
        .color-83004F {
            background-color: #83004F;
        }
        .color-C94F62 {
            background-color: #C94F62;
        }
        .color-9C02A7 {
            background-color: #9C02A7;
        }
        .color-1DD787 {
            background-color: #1DD787;
        }
        .color-00CC00 {
            background-color: #00CC00;
        }
        .color-00B9FF {
            background-color: #00B9FF;
        }
        .color-FF0000 {
            background-color: #FF0000;
        }
        .color-FFCF00 {
            background-color: #FFCF00;
        }
        .color-91D100 {
            background-color: #91D100;
        }
        .color-F50296 {
            background-color: #F50296;
        }
        .color-6996D3 {
            background-color: #6996D3;
        }
        .color-3415B0 {
            background-color: #3415B0;
        }
        .color-B0FF00 {
            background-color: #B0FF00;
        }
        .color-470010 {
            background-color: #470010;
        }
        .color-9C02A7 {
            background-color: #9C02A7;
        }
    }
}

.color-form {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    border-radius: 2px;
    left: 0;
}

.btn-toggle {
    font-weight: 600;
    position: relative;
    .color-form {
        height: 4px;
        bottom: -3px;
    }
}

.arrow-bg {
    background-color: white;
    height: 25px;
    width: 40px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2222;
    .arrow-next {
        width: 13px;
        height: 13px;
        background-image: url('../img/arrow-down.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(-90deg);
        opacity: 0.7;
        left: 20px;
        cursor: pointer;
    }
    .arrow-prev {
        width: 13px;
        height: 13px;
        background-image: url('../img/arrow-down.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        transform: rotate(90deg);
        opacity: 0.7;
        cursor: pointer;
    }
}

#hoverSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    background: #515151;
    color: white;
    border-radius: 3px;
    z-index: 999;
    display: none;
}

.crm-table {
    margin-top: 0px;
    z-index: 888;
    position: relative;
    // top: -10px;
}

.container-info-settings {
    tr td {
        white-space: nowrap;
        height: 18px;
        line-height: 14px;
        // text-align: center;
        .input-style {
            background: rgb(212, 212, 212);
            outline: none;
            border: 1px white solid;
            width: 100%;
            box-sizing: border-box;
            padding: 1px 3px;
            // opacity: 0;
            font-size: 10px;
            line-height: 14px;
            &::placeholder {
                font-size: 10px;
            }
        }
        .count-message {
            background: rgba(156, 155, 158, 0.4);
            // border: 1px white solid;
            box-sizing: border-box;
            position: relative;
            left: -2px;
            width: 17%;
            border-right: 2px white solid;
            // height: 17px;
            // &::placeholder {
            //     content: '';
            //     position: absolute;
            //     background-image: url('../img/arrow-down.svg');
            //     width: 6px;
            //     height: 3px;
            //     background-size: 100%;
            //     top: 7px;
            //     right: -4px;
            // }
        }
        .tel-style {
            width: 83%;
        }
        .date-block {
            background: rgba(156, 155, 158, 0.4);
            padding: 0 3px;
            border: 1px white solid;
            min-width: 130px;
            .date-style {
                width: 45%;
                text-align: center;
                border: none;
                background-color: transparent;
            }
        }
    }
}

.ttn-search {
    background: rgba(156, 155, 158, 0.4);
    outline: none;
    border: 1px white solid;
    width: 100%;
    box-sizing: border-box;
    // padding: 1px 3px;
    // opacity: 0;
    font-size: 10px;
    line-height: 14px;
    .ttn-style {
        width: 82%;
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        line-height: 16px;
        box-sizing: border-box;
        padding-left: 3px;
    }
    .ttn-style:first-child {
        width: 15%;
        border-right: 2px solid white;
    }
}

.date-block {
    text-align: center;
}

tr th {
    white-space: nowrap;
    &:nth-child(odd) {
        background-color: #F1F1F1;
    }
    padding: 2.5px 4px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px 3px 0 0;
    padding-top: 7px;
}

table {
    border-collapse: collapse;
    tr {
        td {
            width: max-content;
            padding: 0px 4px;
            font-size: 12px;
        }
    }
}

.header-search {
    padding: 0;
    font-size: 10px;
    height: 18px;
    box-sizing: border-box;
}

.table-header {
    height: 24px;
    cursor: grab;
}

.crm-input {
    height: 18px;
}

.crm-main-table {
    height: 19px;
    .country-colum {
        text-align: left;
        box-sizing: border-box;
        height: 18px;
        position: relative;
        top: -2px;
        .flag {
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    }
    .tel-colum {
        // margin-right: 5px;
        text-align: center;
        line-height: 16px;
        .mob-icon {
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
    .svg-wrap {
        margin-left: 5px;
        position: relative;
        margin-right: 5px;
        top: 3px;
        .count {
            position: absolute;
            border-radius: 100%;
            font-size: 7px;
            width: 8px;
            height: 8px;
            font-weight: 600;
            background-color: #9C9B9E;
            color: white;
            text-align: center;
            right: -3px;
            line-height: 9px;
            top: -5px;
            border: 1.28571px solid #F1F1F1;
        }
    }
    .product-colum {
        text-align: center;
        position: relative;
        top: -1px;
        .svg-wrap {
            margin-left: 3px;
            margin-right: 8px;
            position: relative;
            top: 4px;
            .count {
                right: 0px;
                border: 1.28571px solid #F1F1F1;
            }
        }
    }
    .colum-pay {
        text-align: center;
        .coin {
            bottom: 1px;
            position: relative;
        }
        .card {
            position: relative;
            bottom: 2px;
        }
        .svg-decline {
            position: relative;
            bottom: 2px;
        }
        .svg-trade {
            position: relative;
            bottom: 2px;
        }
    }
    .ttn-block {
        .svg-wrap {
            margin-left: 0;
        }
    }
}

.color-bg {
    background-color: #F1F1F1;
}

//hover lock
.crm-main-table.select-toggle:hover {
    position: relative;
    color: white;
    td {
        background-color: rgba(81, 81, 81, 0.7);
    }
}

.crm-main-table.selected-lock:hover {
    position: relative;
    td {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    .id-table:before {
        content: '';
        background: none;
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.select-toggle {
    position: relative;
    td {
        color: white;
        background-color: rgba(81, 81, 81, 0.7);
    }
    .svg-convert path {
        // fill: white;
        stroke: #F1F1F1;
    }
    .svg-wrap .count {
        background: #F1F1F1;
        color: #515151;
        border: 1.28571px solid rgba(81, 81, 81, 0.7);
    }
    .product-colum {
        .svg-wrap path {
            fill: #F1F1F1;
        }
        .svg-wrap .count {
            background: #F1F1F1;
            border: 1.28571px solid rgba(81, 81, 81, 0.7);
        }
    }
    .card path {
        fill: #F1F1F1;
    }
    .coin path {
        fill: #F1F1F1;
    }
    .coin circle {
        stroke: #F1F1F1;
    }
    .convert-pay path {
        fill: #F1F1F1;
    }
    .svg-decline path {
        stroke: #F1F1F1;
    }
    .svg-trade path {
        stroke: #F1F1F1;
    }
    .id-table:before {
        content: '';
        width: 7px;
        height: 19px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
        top: 0;
    }
    .svg-box path {
        fill: #F1F1F1;
    }
}

.selected-lock {
    position: relative;
    td {
        background: rgba(198, 193, 190, 0.5);
        color: rgba(0, 0, 0, 0.2);
    }
    .svg-wrap .count {
        border: 1.28571px solid #d8d8d8;
    }
    .id-table:before {
        content: '';
        background-image: url('../img/lock.svg');
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: -15px;
    }
}

.crm-main-table:hover {
    position: relative;
    td {
        background: rgba(81, 81, 81, 0.3);
    }
    .id-table:before {
        content: '';
        width: 7px;
        height: 19px;
        position: absolute;
        background: #515151;
        left: -7px;
        border-radius: 3px 0 0 3px;
        top: 0;
    }
}

.crm-main-table {
    .status-table {
        text-align: center;
        .color-form2 {
            text-align: center;
            line-height: 14px;
            box-sizing: border-box;
            border-radius: 3px;
            color: white;
            opacity: 0.75;
            padding: 0.5px 6px;
            margin: 0 3px;
        }
    }
}

//новый заказ
.new-order {
    position: relative;
}

.new-order:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #1a6cd7;
    position: absolute;
    left: -5.5px;
    top: 7.5px;
}

//новый заказ
// .another {
//     position: relative;
// }
// .another:after {
//     content: '';
//     width: 4px;
//     height: 4px;
//     border-radius: 100%;
//     background-color: #FFCF00;
//     position: absolute;
//     left: -5.5px;
//     top: 8px;
// }
//новый заказ
// @keyframes new-zakaz {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
//hover lock
//цвета
.color-470010 {
    background-color: #470010;
}

.color-83004F {
    background-color: #83004F;
}

.color-C94F62 {
    background-color: #C94F62;
}

.color-9C02A7 {
    background-color: #9C02A7;
}

.color-1DD787 {
    background-color: #1DD787;
}

.color-00CC00 {
    background-color: #00CC00;
}

.color-00B9FF {
    background-color: #00B9FF;
}

.color-FF0000 {
    background-color: #FF0000;
}

.color-FFCF00 {
    background-color: #FFCF00;
}

.color-91D100 {
    background-color: #91D100;
}

.color-F50296 {
    background-color: #F50296;
}

.color-6996D3 {
    background-color: #6996D3;
}

.color-3415B0 {
    background-color: #3415B0;
}

.color-B0FF00 {
    background-color: #B0FF00;
}

//цвета
//BTN header
.colum-country {
    position: relative;
    box-sizing: border-box;
    .country-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        .list-item img {
            position: absolute;
            left: 4px;
        }
        .list-item span {
            margin-left: 20px;
        }
        .list {
            height: 14px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.5;
        }
    }
    .block1 {
        background: white;
        z-index: 3;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        overflow-x: hidden;
        height: 90px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        width: 55px;
        .list-item img {
            position: absolute;
            left: 5px;
        }
        .list-item span {
            margin-left: 25px;
        }
        .list {
            height: 18px;
            line-height: 18px;
        }
        .list:first-child {
            padding-left: 3px;
        }
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
    }
}

.colum-pay {
    position: relative;
    box-sizing: border-box;
    .pay-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        .list-item img {
            margin-right: 5px;
            width: 12px;
            height: 12px;
            top: 2px;
            position: relative;
            margin-left: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.5;
        }
    }
    .block1 {
        background: white;
        z-index: 3;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        overflow-x: hidden;
        height: 90px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        width: 55px;
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 18px;
        }
        .list img {
            margin-right: 5px;
            width: 12px;
            height: 12px;
            position: relative;
            top: 2px;
        }
        .list-item {
            width: 100%;
            box-sizing: border-box;
            display: block;
            text-align: center;
        }
    }
}

.colum-delivery {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .delivery-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        min-width: 100px;
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.5;
        }
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list img {
            margin-right: 5px;
            width: 11px;
            height: 11px;
            position: relative;
            top: 2px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
}

.colum-employe {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .employe-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        min-width: 100px;
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.5;
        }
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list img {
            margin-right: 5px;
            width: 11px;
            height: 11px;
            position: relative;
            top: 2px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
}

.colum-depart {
    box-sizing: border-box;
    border: none;
    // background: rgba(156, 155, 158, 0.4);
    font-size: 10px;
    position: relative;
    .depart-btn {
        text-align: left;
        display: block;
        cursor: pointer;
        line-height: 16px;
        height: 16px;
        border: 1px solid white;
        background: rgb(212, 212, 212);
        color: rgba(0, 0, 0, 0.5);
        padding-left: 3px;
        min-width: 110px;
        .list-item img {
            position: relative;
            left: 0px;
            bottom: -2px;
            width: 12px;
            height: 12px;
        }
        .list-item {
            text-align: center;
            line-height: 18px;
        }
        &:after {
            content: '';
            position: absolute;
            background-image: url('../img/arrow-down.svg');
            width: 6px;
            height: 3px;
            background-size: 100%;
            top: 7px;
            right: 4px;
            opacity: 0.5;
        }
    }
    .block1 {
        // background: #d3cece;
        z-index: 222;
        color: black;
        display: none;
        position: absolute;
        text-align: left;
        height: 90px;
        width: 100%;
        overflow-x: hidden;
        cursor: pointer;
        z-index: 2222;
        top: 18px;
        background-color: white;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
        .simplebar-track.simplebar-vertical {
            background-color: rgba(0, 0, 0, 0.1);
            width: 3px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            bottom: 0;
            border-radius: 5px;
        }
        .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
            background: rgba(0, 0, 0, 0.3);
            width: 3px;
            border-radius: 5px;
            left: 0;
            right: 0;
            bottom: -9px;
            top: 0;
        }
        .simplebar-scrollbar.simplebar-visible:before {
            opacity: 1;
        }
        .simplebar-content-wrapper {
            padding: 0;
        }
        .list {
            position: relative;
            height: 16px;
        }
        .list img {
            margin-right: 5px;
            width: 11px;
            height: 11px;
            position: relative;
            top: 2px;
        }
        .list-item {
            margin-left: 5px;
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 16px;
        }
    }
}

.z-index {
    z-index: -1;
    position: relative;
}

.block1.toggle {
    display: block;
}

.block1 .list:hover {
    background-color: rgba(81, 81, 81, 0.3);
}

.select-btn {
    background-color: rgba(81, 81, 81, 0.7);
}

//BTN header
// hover header
.wrap-hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    bottom: -18px;
    position: relative;
}

.wrap-open {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    bottom: 0;
}