.import-block {
  width: 290px;
  height: 330px;
  z-index: 22;
  background: rgba(81, 81, 81, 0.7);
  -webkit-box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
          box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  color: white;
  visibility: hidden;
  top: 51px;
  right: -400px;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.import-toggle {
  visibility: visible;
  right: 25px;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.import-header {
  position: relative;
  display: inline;
}

.import-ul {
  margin-top: 25px;
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}
.import-ul .import-list {
  cursor: pointer;
  padding: 2.5px 0;
  font-weight: 600;
}
.import-ul .import-list:hover {
  opacity: 0.5;
}

.import-wrap {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}