.notifications {
  width: 290px;
  height: 330px;
  z-index: 22;
  background: rgba(81, 81, 81, 0.7);
  -webkit-box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
          box-shadow: -4px -4px 9px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  color: white;
  visibility: hidden;
  top: 51px;
  right: -400px;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}
.notifications .noti-header {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 25px;
  position: relative;
}
.notifications .noti-header span:first-child {
  margin-right: 24px;
}
.notifications .noti-header span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.notifications .noti-header span:hover {
  opacity: 0.5;
}
.notifications .block-not {
  margin-left: 20px;
  font-size: 12px;
}
.notifications .block-not .call {
  margin-left: 20px;
  margin-bottom: 20px;
}
.notifications .block-not .call .call-header {
  position: relative;
  font-weight: 600;
}
.notifications .block-not .call .call-header img {
  position: absolute;
  left: -24px;
  top: -2px;
}
.notifications .block-not .reminder {
  margin-bottom: 20px;
  margin-left: 20px;
}
.notifications .block-not .reminder .reminder-not {
  font-weight: 600;
  position: relative;
}
.notifications .block-not .reminder .reminder-not img {
  position: absolute;
  left: -24px;
  top: -2px;
}
.notifications .block-not .new-order {
  margin-left: 20px;
}
.notifications .block-not .new-order .new {
  font-weight: 600;
  position: relative;
}
.notifications .block-not .new-order .new img {
  position: absolute;
  left: -24px;
  top: -2px;
}
.notifications .block-not div {
  margin-bottom: 5px;
}
.notifications .tech-note {
  margin-left: 20px;
  font-size: 12px;
  display: none;
  position: absolute;
  top: 53px;
}
.notifications .tech-note div {
  margin-bottom: 5px;
}
.notifications .tech-note .tech {
  margin-left: 20px;
  margin-bottom: 20px;
}
.notifications .tech-note .tech div:first-child {
  margin-bottom: 8px;
}
.notifications .tech-note .tech .tech-header {
  font-weight: 600;
  position: relative;
}
.notifications .tech-note .tech .tech-header img {
  position: absolute;
  left: -24px;
  top: -2px;
}
.notifications .tech-note .tech .btn-last {
  opacity: 0.5;
}
.notifications .tech-note .tech .btn-last-posit {
  margin-top: 10px;
}

.btn-style {
  position: relative;
}
.btn-style:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  left: 0;
  top: 22px;
}

.notification-toggle {
  visibility: visible;
  right: 25px;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}